In [2]:
import pandas as pd

traindf = pd.read_csv('data/train.csv')
testdf = pd.read_csv('data/test.csv')
traindf['Set'] = 'Train'
testdf['Set'] = 'Test'
togeth = pd.concat([testdf,traindf])
homeplanets = ['Earth', 'Europa', 'Mars']

In [3]:
def splits(dataframe):
    split_df = dataframe['PassengerId'].str.split('_', expand=True)
    dataframe[['Group', 'GroupNumber']] = split_df

    split_df =  dataframe['Cabin'].str.split("/", expand = True)
    dataframe[['Deck', 'Number', 'Side']]= split_df
    
    split_df = dataframe['Name'].str.split(" ",expand = True)
    dataframe[['FristName','LastName']] = split_df


    return dataframe

togeth = splits(togeth)

#### Same name implies home planet

write how many there are beforehand with same last name and therefore home planet

In [4]:
togeth_cleaned = togeth.dropna(subset=['HomePlanet','LastName'])

# Group by 'LastName' and aggregate HomePlanet into lists
grouped = togeth_cleaned.groupby('LastName')['HomePlanet'].agg(list).reset_index()

# Function to check if all elements in a list are the same
def is_uniform(homeplanets):
    return len(set(homeplanets)) == 1

# Apply the function to identify uniform and mixed groups
grouped['UniformPlanet'] = grouped['HomePlanet'].apply(is_uniform)

# Count how many people are in uniform and mixed planet groups
uniform_groups = grouped[grouped['UniformPlanet'] == True]
mixed_groups = grouped[grouped['UniformPlanet'] == False]

# Sum up the number of people in uniform and mixed groups
people_uniform = uniform_groups['HomePlanet'].apply(len).sum()
people_mixed = mixed_groups['HomePlanet'].apply(len).sum()

print(f"Number of people from groups where all share the same HomePlanet: {people_uniform}")
print(f"Number of people from groups where not all share the same HomePlanet: {people_mixed}")

Number of people from groups where all share the same HomePlanet: 12398
Number of people from groups where not all share the same HomePlanet: 0

#### same group implies homeplanet

In [5]:
togeth_cleaned = togeth.dropna(subset=['HomePlanet','Group'])


# Group by 'LastName' and aggregate HomePlanet into lists
grouped = togeth_cleaned.groupby('Group')['HomePlanet'].agg(list).reset_index()

# Function to check if all elements in a list are the same
def is_uniform(homeplanets):
    return len(set(homeplanets)) == 1

# Apply the function to identify uniform and mixed groups
grouped['UniformPlanet'] = grouped['HomePlanet'].apply(is_uniform)

# Count how many people are in uniform and mixed planet groups
uniform_groups = grouped[grouped['UniformPlanet'] == True]
mixed_groups = grouped[grouped['UniformPlanet'] == False]

# Sum up the number of people in uniform and mixed groups
people_uniform = uniform_groups['HomePlanet'].apply(len).sum()
people_mixed = mixed_groups['HomePlanet'].apply(len).sum()

print(f"Number of people from groups where all share the same HomePlanet: {people_uniform}")
print(f"Number of people from groups where not all share the same HomePlanet: {people_mixed}")

Number of people from groups where all share the same HomePlanet: 12682
Number of people from groups where not all share the same HomePlanet: 0

## Homeplanet implies deck

In [6]:
def checks(df):
    for home in homeplanets:
        print("\n" + home)
        print(df[df.HomePlanet == home].Deck.value_counts())
    return df

People from Earth are only in decks G, F, E
People from Europa are only in decks B,C,A,D,E,T
people from Mars are only in decks F,E,D

#### Same cabin means same group

In [7]:
togeth_cleaned = togeth.dropna(subset=['Group','Cabin'])


# Cabin by 'LastName' and aggregate Group into lists
Cabined = togeth_cleaned.groupby('Cabin')['Group'].agg(list).reset_index()

# Function to check if all elements in a list are the same
def is_uniform(Groups):
    return len(set(Groups)) == 1

# Apply the function to identify uniform and mixed Cabins
Cabined['UniformPlanet'] = Cabined['Group'].apply(is_uniform)

# Count how many people are in uniform and mixed planet Cabins
uniform_Cabins = Cabined[Cabined['UniformPlanet'] == True]
mixed_Cabins = Cabined[Cabined['UniformPlanet'] == False]

# Sum up the number of people in uniform and mixed Cabins
people_uniform = uniform_Cabins['Group'].apply(len).sum()
people_mixed = mixed_Cabins['Group'].apply(len).sum()

print(f"Number of people from Cabins where all share the same Group: {people_uniform}")
print(f"Number of people from Cabins where not all share the same Group: {people_mixed}")

Number of people from Cabins where all share the same Group: 12671
Number of people from Cabins where not all share the same Group: 0

* persons in the same group all have the same CabinSide, possibly on different CabinDeck
in groups with several CabinDeck, people with no bill are necessarily on CabinDeck:
** Earth on G
** Europa on B
** Mars on E or F
* for Europa groups with several CabinDeck, people with no bill are on deck B

* Children have no bill
* CryoSleep have no bill

In [10]:
togeth_cleaned = togeth.dropna(subset=['Side','Group'])


# Cabin by 'LastName' and aggregate Group into lists
Cabined = togeth_cleaned.groupby('Group')['Side'].agg(list).reset_index()

# Function to check if all elements in a list are the same
def is_uniform(Groups):
    return len(set(Groups)) == 1

# Apply the function to identify uniform and mixed Cabins
Cabined['UniformPlanet'] = Cabined['Side'].apply(is_uniform)

# Count how many people are in uniform and mixed planet Cabins
uniform_Cabins = Cabined[Cabined['UniformPlanet'] == True]
mixed_Cabins = Cabined[Cabined['UniformPlanet'] == False]

# Sum up the number of people in uniform and mixed Cabins
people_uniform = uniform_Cabins['Group'].apply(len).sum()
people_mixed = mixed_Cabins['Group'].apply(len).sum()

print(f"Number of people from Cabins where all share the same Group: {people_uniform}")
print(f"Number of people from Cabins where not all share the same Group: {people_mixed}")

Number of people from Cabins where all share the same Group: 36476
Number of people from Cabins where not all share the same Group: 0

In [20]:
mini = togeth.iloc[:20].copy()

In [25]:
mini[mini.Group == '0013']

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,Name,Set,Transported,Group,GroupNumber,Deck,Number,Side,FristName,LastName
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,...,Nelly Carsoning,Test,NaN,0013,01,G,3,S,Nelly,Carsoning

In [34]:
for index,row in togeth.iterrows():
    if pd.isna(row.Side):
        continue
    if len(togeth[togeth.Group == row.Group].dropna(subset = 'Side').Side.unique()) != 1:
        print()
        print(togeth[togeth.Group == row.Group].dropna(subset = 'Side').Side.unique())
        print(row)

In [35]:
togeth

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,Name,Set,Transported,Group,GroupNumber,Deck,Number,Side,FristName,LastName
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,...,Nelly Carsoning,Test,NaN,0013,01,G,3,S,Nelly,Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,...,Lerome Peckers,Test,NaN,0018,01,F,4,S,Lerome,Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,...,Sabih Unhearfus,Test,NaN,0019,01,C,0,S,Sabih,Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,...,Meratz Caltilter,Test,NaN,0021,01,C,1,S,Meratz,Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,...,Brence Harperez,Test,NaN,0023,01,F,5,S,Brence,Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,...,Gravior Noxnuther,Train,False,9276,01,A,98,P,Gravior,Noxnuther
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,...,Kurta Mondalley,Train,False,9278,01,G,1499,S,Kurta,Mondalley
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,...,Fayey Connon,Train,True,9279,01,G,1500,S,Fayey,Connon
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,...,Celeon Hontichre,Train,False,9280,01,E,608,S,Celeon,Hontichre
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,...,Propsh Hontichre,Train,True,9280,02,E,608,S,Propsh,Hontichre

In [38]:
togeth['Bills'] = togeth['RoomService'] + togeth['FoodCourt'] + togeth['ShoppingMall'] + togeth['Spa'] + togeth['VRDeck']

In [41]:
togeth[(togeth.Bills == 0) & (togeth.HomePlanet == 'Earth')].Deck

0       G
27      E
29      G
30      G
32      G
       ..
8673    G
8676    G
8680    G
8681    G
8689    G
Name: Deck, Length: 2294, dtype: object

In [37]:
togeth.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Set', 'Transported', 'Group', 'GroupNumber', 'Deck', 'Number',
       'Side', 'FristName', 'LastName', 'Bills'],
      dtype='object')

In [58]:
count = 0

In [59]:
for index,row in togeth.iterrows():
    if len(togeth[togeth.Group == row.Group].dropna(subset = 'Deck').Deck.unique()) != 1:
        if row.Bills == 0 and row.HomePlanet == 'Earth':
            print(index)
            count += 1
            print(row.Deck)
print(count)

99
nan
147
nan
156
G
157
G
162
G
241
nan
266
G
293
G
300
G
301
G
302
G
304
G
494
G
522
G
523
G
538
G
612
G
677
G
764
G
825
nan
900
G
960
G
992
G
994
G
1014
G
1020
nan
1058
G
1060
G
1076
G
1139
G
1140
G
1154
G
1155
nan
1156
G
1161
G
1226
G
1240
G
1241
G
1312
G
1363
G
1410
G
1411
G
1412
G
1615
G
1659
G
1661
G
1664
G
1667
G
1668
G
1673
G
1674
G
1675
G
1676
G
1678
G
1684
G
1696
G
1711
G
1712
G
1713
G
1716
G
1745
nan
1746
G
1747
G
1749
G
1830
G
1842
G
1853
G
1859
nan
1868
G
1869
G
1904
G
1974
G
1975
G
1990
G
1992
G
2025
G
2027
G
2136
nan
2199
G
2200
G
2221
nan
2301
G
2302
G
2303
G
2305
G
2341
G
2346
nan
2347
G
2402
G
2407
G
2408
G
2410
nan
2431
G
2438
G
2439
G
2440
G
2442
G
2443
G
2483
nan
2505
G
2518
G
2520
G
2521
G
2586
G
2587
G
2588
G
2634
G
2637
G
2670
G
2687
G
2689
G
2717
G
2738
G
2785
G
2820
G
2828
G
2830
G
2874
G
2876
G
2879
G
2880
G
2893
G
2945
G
2951
G
2953
G
2954
G
2956
G
2957
G
2958
G
2972
nan
2987
G
2988
G
2998
G
3090
G
3141
G
3142
G
3160
nan
3180
G
3181
G
3190
G
3192
G
3193
G
3194
G
3197
G
3222
G
3223
G
3224
G
3250
G
3253
G
3254
G
3257
G
3260
G
3269
G
3282
nan
3303
G
3304
G
3305
G
3307
G
3322
G
3380
G
3399
G
3442
G
3445
G
3481
G
3482
G
3483
G
3485
G
3492
G
3493
G
3495
G
3497
G
3504
G
3509
G
3516
G
3558
G
3666
G
3720
G
3721
G
3722
G
3757
G
3783
G
3801
G
3839
G
3845
G
3880
G
3902
G
3913
G
3914
G
3929
G
3931
G
3965
G
3967
G
4025
G
4244
G
4254
G
4256
G
4258
nan
4259
G
4272
G
19
G
61
G
92
G
96
G
97
G
127
G
130
G
196
G
197
G
198
G
201
G
202
G
255
G
272
nan
284
G
317
nan
370
G
411
G
429
G
436
nan
487
nan
522
G
523
G
567
G
766
G
837
G
868
G
876
G
913
G
915
G
916
G
917
G
932
G
961
G
963
G
1018
G
1020
G
1022
G
1058
nan
1067
G
1091
G
1118
G
1119
G
1120
G
1122
G
1124
G
1125
G
1141
G
1142
G
1143
G
1144
G
1146
G
1155
G
1270
G
1273
G
1291
G
1303
G
1352
G
1353
G
1394
G
1412
G
1416
G
1417
G
1419
G
1421
G
1422
G
1511
G
1512
G
1523
G
1536
G
1537
G
1624
nan
1641
G
1704
G
1731
G
1732
G
1741
G
1763
G
1777
G
1836
G
1878
G
1879
G
1921
G
1924
G
2009
G
2010
nan
2071
nan
2183
G
2190
G
2191
G
2192
G
2193
G
2205
G
2249
G
2305
nan
2373
G
2427
nan
2446
G
2481
G
2564
G
2565
G
2582
G
2583
G
2623
G
2624
G
2698
G
2699
G
2700
G
2702
G
2714
G
2743
G
2744
G
2784
G
2811
G
2812
G
2813
G
2837
G
2838
G
2868
G
2870
G
2916
G
2918
G
2966
G
2970
G
2971
G
2976
G
2989
G
3028
G
3121
G
3122
G
3132
G
3136
G
3188
G
3239
G
3262
G
3264
G
3358
G
3363
G
3381
G
3400
G
3510
G
3516
G
3598
G
3599
G
3600
G
3602
G
3603
G
3626
G
3627
G
3629
G
3631
G
3637
G
3649
G
3650
G
3684
G
3687
G
3693
G
3700
G
3714
G
3717
G
3718
G
3719
G
3724
G
3726
G
3728
G
3729
G
3730
G
3732
G
3733
G
3736
G
3738
G
3739
nan
3740
G
3743
G
3744
G
3745
G
3989
G
3990
G
3993
G
4031
G
4032
G
4035
G
4039
G
4115
G
4119
nan
4165
nan
4376
G
4382
G
4383
G
4384
G
4387
G
4399
nan
4588
G
4662
G
4676
G
4729
nan
4768
G
4769
G
4771
G
4773
G
4777
G
4782
nan
4809
G
4810
G
4813
G
4828
G
4879
G
4880
G
4881
G
4916
G
4918
G
4937
G
4957
G
5042
G
5043
G
5063
G
5066
G
5091
G
5158
G
5176
G
5245
G
5246
G
5247
nan
5249
G
5302
G
5303
G
5432
G
5437
G
5469
nan
5497
G
5517
G
5544
G
5545
G
5552
G
5575
G
5608
G
5610
G
5662
G
5663
G
5664
G
5665
G
5667
G
5688
G
5690
G
5697
G
5702
G
5742
G
5745
G
5746
G
5785
G
5792
G
5794
G
5795
G
5796
G
5797
G
5833
G
5834
G
5877
G
5937
G
5939
nan
5942
G
5967
G
5969
G
5974
G
5976
G
5979
G
5980
G
5981
G
5982
G
5985
G
6010
nan
6015
G
6034
G
6057
nan
6058
G
6059
G
6084
G
6095
G
6096
G
6097
G
6100
G
6115
G
6166
G
6167
G
6179
G
6180
G
6211
G
6225
G
6247
G
6259
G
6396
G
6412
G
6489
G
6567
G
6568
G
6569
G
6698
G
6699
G
6703
G
6822
G
6847
nan
6861
G
7169
G
7170
G
7171
G
7173
G
7237
G
7259
G
7356
nan
7357
G
7360
G
7361
G
7362
G
7379
G
7380
nan
7416
nan
7419
G
7435
G
7437
G
7481
G
7504
G
7560
G
7605
nan
7606
G
7640
G
7643
G
7644
G
7645
G
7659
G
7660
G
7722
G
7732
G
7733
G
7739
G
7740
G
7775
G
7840
G
7888
G
7961
G
8010
G
8039
nan
8047
G
8058
G
8068
G
8117
G
8166
G
8167
G
8220
G
8223
G
8228
G
8231
G
8235
G
8276
G
8372
G
8375
G
8381
G
8382
G
8384
G
8407
G
8409
G
8414
G
8424
G
8503
G
8507
G
8509
nan
8510
G
8513
G
8514
G
8549
G
8631
G
8637
G
8640
G
571

In [44]:
togeth[togeth.Group == '0158']

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,Set,Transported,Group,GroupNumber,Deck,Number,Side,FristName,LastName,Bills
70,0158_01,Earth,False,E/9/S,55 Cancri e,26.0,False,832.0,0.0,0.0,...,Test,NaN,0158,01,E,9,S,Dawne,Jacobbinson,989.0
71,0158_02,Earth,False,F/33/S,TRAPPIST-1e,31.0,False,0.0,0.0,705.0,...,Test,NaN,0158,02,F,33,S,Nelle,Jacobbinson,705.0

In [62]:
togeth[(togeth.Deck == 'E') & (togeth.HomePlanet == 'Earth')]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,Set,Transported,Group,GroupNumber,Deck,Number,Side,FristName,LastName,Bills
21,0049_01,Earth,False,E/1/P,TRAPPIST-1e,14.0,False,NaN,0.0,0.0,...,Test,NaN,0049,01,E,1,P,Doria,Flynney,NaN
27,0059_01,Earth,True,E/2/P,TRAPPIST-1e,36.0,False,0.0,0.0,0.0,...,Test,NaN,0059,01,E,2,P,Janne,Carvis,0.0
35,0087_01,Earth,False,E/3/P,TRAPPIST-1e,19.0,False,0.0,20.0,135.0,...,Test,NaN,0087,01,E,3,P,Meremy,Jarvey,787.0
47,0117_01,Earth,False,E/4/P,PSO J318.5-22,24.0,False,0.0,22.0,82.0,...,Test,NaN,0117,01,E,4,P,Megany,Ewiseston,790.0
62,0145_01,Earth,False,E/6/P,TRAPPIST-1e,56.0,False,0.0,44.0,23.0,...,Test,NaN,0145,01,E,6,P,Arlie,Hodes,790.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8538,9118_01,Earth,False,E/585/P,55 Cancri e,13.0,False,0.0,1501.0,23.0,...,Train,True,9118,01,E,585,P,Glenry,Malliamsey,1692.0
8556,9134_01,Earth,False,E/601/S,TRAPPIST-1e,13.0,False,590.0,0.0,32.0,...,Train,False,9134,01,E,601,S,Therly,Leonadorsen,985.0
8591,9170_01,Earth,NaN,E/587/P,TRAPPIST-1e,33.0,False,1060.0,403.0,1.0,...,Train,False,9170,01,E,587,P,Jeandy,Ewins,1609.0
8606,9185_01,Earth,False,E/588/P,TRAPPIST-1e,43.0,False,698.0,94.0,0.0,...,Train,True,9185,01,E,588,P,Elindy,Mckinn,792.0
8635,9217_01,Earth,False,E/604/S,55 Cancri e,31.0,False,15.0,679.0,89.0,...,Train,True,9217,01,E,604,S,Jasony,Mckinsond,789.0