In [95]:
import pandas as pd
import numpy as np

df = pd.read_csv('pre_processed.csv')

# Add a column for potential decks

In [96]:
homeplanets = ['Earth', 'Europa', 'Mars']

In [97]:
decks_by_planet = {
    'Earth':['E','F','G'],
    'Europa': ['A','B','C','D','E','T'],
    'Mars': ['D','E','F']
}

decks_by_planet_no_bills = {
    'Earth':['G'],
    'Europa':['B'],
    'Mars': ['E','F']
}

planet_by_deck = {
    'A':['Europa'],'B':['Europa'],'C':['Europa'],'D':['Europa','Mars'],'E':['Europa','Mars','Earth'],
    'F':['Earth','Mars'],'G':['Earth'],'T':['Europa']
}

cabin_sides = ['P','S']

cabin_decks = list(df.dropna(subset = ['Deck']).Deck.unique())

In [98]:
def deck_options(df,row):
    if pd.isna(row.HomePlanet):
        return 'no homeplanet' 
    elif row.Bills == 0:
        if len(df[df.Group == row.Group].dropna(subset = 'Deck').Deck.unique()) > 1:
            return decks_by_planet_no_bills[row.HomePlanet]
    return decks_by_planet[row.HomePlanet]

In [99]:
def multiple_decks_in_group(df,row):
    return len(df[df.Group == row.Group].dropna(subset ='Deck').Deck.unique()) > 1

# Filling missed Cabins

In [100]:
def utilised_cabins(df):
    used_cabins = {}
    for deck in list(df.dropna().Deck.unique()):
        cab = {}
        for side in list(df.dropna().Side.unique()):
            rooms = list(df[(df.Deck == deck) & (df.Side == side)].dropna().Number.unique())
            rooms.sort()
            cab[side] = rooms
        used_cabins[deck] = cab
    return used_cabins

#### fill people that must be sharing a room with people in the same group
ie, from their chome planet we know the decks they could be in, if the side and number below and above are one above and one below then they must be sharing with someone from their group. make sure that their group has only one cabin

need to make sure is only one person  with cabin being na in the group otherwise one na might be in another cabin

for row in dataframe

if cabin.isna() and homeplanet is known,
 for potential decks in homeplanets remit ie europa check a, b , c in dataframe up to that point and over that point, see if any have a free space and if not then fill it with the one in the same group

In [101]:
def checks(df):
    for home in homeplanets:
        print("\n" + home)
        print(df[df.HomePlanet == home].Deck.value_counts())
    return df

In [102]:
df2 = df.copy()

Finding groups that have more than 1 member that all share the same cabin and that dont have other nans in group

In [144]:
df2.isna().sum()

PassengerId        0
HomePlanet        13
CryoSleep        310
Cabin             76
Destination      274
Age              270
VIP              296
RoomService      263
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Name             294
Set                0
Transported     4277
Group              0
GroupNumber        0
Deck             145
Number           145
Side             145
FristName        294
LastName         294
GroupSize          0
Bills            785
dtype: int64

# one room available and its alone in its group ( should be first in cabin fill)

In [145]:
def one_room_available_and_alone_in_group(df):
    for index, passenger in df[df.Cabin.isna()].iterrows():
        options = []
        for deck in decks_by_planet[passenger.HomePlanet]:
            for side in cabin_sides:
                
                before_slice = df.iloc[:index]
                after_slice = df.iloc[index+1:] 
                top_room_number_before = np.max(before_slice[(before_slice.Deck == deck) & (before_slice.Side == side)].Number)
                smallest_room_number_after = np.min(after_slice[(after_slice.Deck == deck) & (after_slice.Side == side)].Number)
                
                if top_room_number_before + 1 != smallest_room_number_after:
                    if pd.isna(top_room_number_before) and smallest_room_number_after == 0:
                        continue
                    elif top_room_number_before == smallest_room_number_after:
                        continue
                    else:
                        options.append([deck,side,top_room_number_before,smallest_room_number_after])
        
        if len(options) == 1:
            option = options[0]
            if option[2] + 2 == option[3] and len(df[df.Group == passenger.Group]) == 1:
                df.loc[index,['Side','Deck','Number']] = [option[1],option[0],int(option[2] + 1)]
                df.loc[index,'Cabin'] = str(option[0]) + "/" + str(int(option[2] + 1)) + "/" + str(option[1])
    return df

df2 = one_room_available_and_alone_in_group(df2)

In [146]:
df2.isna().sum()

PassengerId        0
HomePlanet        13
CryoSleep        310
Cabin             76
Destination      274
Age              270
VIP              296
RoomService      263
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Name             294
Set                0
Transported     4277
Group              0
GroupNumber        0
Deck             145
Number           145
Side             145
FristName        294
LastName         294
GroupSize          0
Bills            785
dtype: int64

# there arent any free rooms for it so has to share

In [147]:
def no_free_rooms_so_shares(df):
    for index, passenger in df[df.Cabin.isna()].iterrows():
        options = False
        for deck in decks_by_planet[passenger.HomePlanet]:
            for side in cabin_sides:
                
                before_slice = df.iloc[:index]
                after_slice = df.iloc[index+1:] 
                top_room_number_before = np.max(before_slice[(before_slice.Deck == deck) & (before_slice.Side == side)].Number)
                smallest_room_number_after = np.min(after_slice[(after_slice.Deck == deck) & (after_slice.Side == side)].Number)
                
                if top_room_number_before + 1 != smallest_room_number_after:
                    if pd.isna(top_room_number_before) and smallest_room_number_after == 0:
                        continue
                    elif top_room_number_before == smallest_room_number_after:
                        continue
                    else:
                        options = True
                        break
            if options:
                break
        if not options:
            other_group_member = df[(df.Group == passenger.Group) & (~df.Cabin.isna())]
            if len(other_group_member.Cabin.unique()) == 1:
                df.loc[index,'Cabin'] = other_group_member.iloc[0].Cabin
    return df
  
            # Slice the DataFrame first and then apply the boolean mask

df2 = no_free_rooms_so_shares(df2)

In [149]:
df2.isna().sum()

PassengerId        0
HomePlanet        13
CryoSleep        310
Cabin             76
Destination      274
Age              270
VIP              296
RoomService      263
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Name             294
Set                0
Transported     4277
Group              0
GroupNumber        0
Deck             145
Number           145
Side             145
FristName        294
LastName         294
GroupSize          0
Bills            785
dtype: int64

Cases
* there arent any free rooms for it so has to share
* its the only person that could fill that room

# free room where only one person can take it

In [150]:
def rooms_to_fill(df):
    rooms = {}
    for deck in cabin_decks:
        for side in cabin_sides:
            rooms_seen = list(df[(df.Deck == deck) & (df.Side == side)].dropna(subset = ['Number']).Number.unique())
            largest_room_number = int(max(list(df[(df.Deck == deck) & (df.Side == side)].dropna(subset = ['Number']).Number.unique())))
            for i in range(largest_room_number):
                if i not in rooms_seen:
                    if deck not in rooms:
                        rooms[deck] = {'P':[],'S':[]}
                    rooms[deck][side].append(i)
    return rooms

rooms = rooms_to_fill(df2)

In [151]:
def fill_by_empty_room(df):
    for deck in rooms.keys():
        for side in ['P','S']:
            for number in rooms[deck][side]:
                indices_matching = []
                temp = df[(df.Cabin.isna()) & (pd.isna(df.HomePlanet) | df.HomePlanet.isin(planet_by_deck[deck]))]
                for index,row in temp.iterrows():
                    if row.Bills == 0 and not pd.isna(row.HomePlanet):
                        if multiple_decks_in_group(df,row):
                            if deck not in decks_by_planet_no_bills[row.HomePlanet]:
                                continue
                            
                    before_slice = df.iloc[:index]
                    after_slice = df.iloc[index+1:] 
                    if max(list(before_slice[(before_slice.Deck == deck) & (before_slice.Side == side)].Number.unique())) < number:
                        if min(list(after_slice[(after_slice.Deck == deck) & (after_slice.Side == side)].Number.unique())) > number:
                            indices_matching.append(index)
                if len(indices_matching) == 1:
                    df.loc[indices_matching[0],'Cabin'] = deck + "/" + str(number) + "/" + side
                    df.loc[indices_matching[0],['Side','Deck','Number']] = [side,deck,number]
fill_by_empty_room(df2)

In [153]:
df2[df2.Cabin.isna()]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,Transported,Group,GroupNumber,Deck,Number,Side,FristName,LastName,GroupSize,Bills
404,0293_01,Europa,True,NaN,TRAPPIST-1e,47.0,False,0.0,0.0,0.0,...,NaN,293,1,NaN,NaN,NaN,Tauxon,Suptibler,1,0.0
421,0310_01,Europa,False,NaN,TRAPPIST-1e,67.0,False,NaN,230.0,0.0,...,False,310,1,NaN,NaN,NaN,Naviton,Coudered,1,NaN
479,0348_02,Mars,NaN,NaN,TRAPPIST-1e,36.0,False,520.0,0.0,1865.0,...,True,348,2,NaN,NaN,NaN,Weet,Mane,2,2385.0
505,0364_02,Mars,False,NaN,TRAPPIST-1e,37.0,False,731.0,0.0,517.0,...,NaN,364,2,NaN,NaN,NaN,Anakes,Chité,2,1298.0
517,0374_02,Earth,False,NaN,TRAPPIST-1e,36.0,False,6.0,0.0,0.0,...,NaN,374,2,NaN,NaN,NaN,Tamie,Sterreray,2,789.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12658,9062_02,Earth,True,NaN,TRAPPIST-1e,65.0,False,0.0,0.0,0.0,...,NaN,9062,2,NaN,NaN,NaN,Lerion,Pughlinsons,2,0.0
12668,9069_03,Europa,True,NaN,55 Cancri e,25.0,False,0.0,0.0,0.0,...,True,9069,3,NaN,NaN,NaN,Bath,Brakeng,5,0.0
12671,9070_01,Earth,False,NaN,TRAPPIST-1e,20.0,False,323.0,0.0,542.0,...,NaN,9070,1,NaN,NaN,NaN,Oraryn,Flynney,2,865.0
12892,9223_01,Mars,True,NaN,TRAPPIST-1e,24.0,False,0.0,0.0,NaN,...,NaN,9223,1,NaN,NaN,NaN,Weessh,Sun,2,0.0
12893,9223_02,Mars,True,NaN,TRAPPIST-1e,17.0,False,0.0,0.0,0.0,...,NaN,9223,2,NaN,NaN,NaN,Perit,Sun,2,0.0

In [154]:
df3 = pd.read_csv('recentattempts.csv')

In [155]:
df3.isna().sum()

PassengerId        0
HomePlanet        13
CryoSleep        310
Cabin             89
Destination      274
Age              270
VIP              296
RoomService      263
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Name             294
Set                0
Transported     4277
Group              0
GroupNumber        0
Deck             145
Number           145
Side             145
FristName        294
LastName         294
GroupSize          0
Bills            785
dtype: int64

# remaining cabins

# which cabin for empty people

In [182]:
def remaining_cabins(df):
    for index, passenger in df[df.Cabin.isna()].iterrows():
        print("\nindex", index)
        print("passenger",passenger.PassengerId)
        options = []
        for deck in decks_by_planet[passenger.HomePlanet]:
            for side in cabin_sides:
                
                before_slice = df.iloc[:index]
                after_slice = df.iloc[index+1:] 
                top_room_number_before = np.max(before_slice[(before_slice.Deck == deck) & (before_slice.Side == side)].Number)
                smallest_room_number_after = np.min(after_slice[(after_slice.Deck == deck) & (after_slice.Side == side)].Number)
                
                if top_room_number_before + 1 != smallest_room_number_after:
                    if pd.isna(top_room_number_before) and smallest_room_number_after == 0:
                        continue
                    elif top_room_number_before == smallest_room_number_after:
                        continue
                    else:
                        options.append([deck,side,top_room_number_before,smallest_room_number_after])
        print(options)

# which people for empty cabin

In [183]:
def fill_by_empty_room(df):
    for deck in rooms.keys():
        for side in ['P','S']:
            for number in rooms[deck][side]:
                indices_matching = []
                print()
                print('deck',deck,'side',side,'number',number)
                temp = df[(df.Cabin.isna()) & (pd.isna(df.HomePlanet) | df.HomePlanet.isin(planet_by_deck[deck]))]
                for index,row in temp.iterrows():
                    before_slice = df.iloc[:index]
                    after_slice = df.iloc[index+1:] 
                    if max(list(before_slice[(before_slice.Deck == deck) & (before_slice.Side == side)].Number.unique())) < number:
                        if min(list(after_slice[(after_slice.Deck == deck) & (after_slice.Side == side)].Number.unique())) > number:
                            indices_matching.append(index)
                print(df.iloc[indices_matching].PassengerId)
                print()
                print()

## what can be deduced with these cabins now filled ?

# no free rooms so has to share but with no bills

In [176]:
def no_free_rooms_no_bills(df):
    for index, passenger in df[df.Cabin.isna()].iterrows():
        options = False
        print()
        if passenger.Bills == 0 and not pd.isna(passenger.HomePlanet):
            if multiple_decks_in_group(df,passenger):
                print(index)
                for deck in decks_by_planet_no_bills[passenger.HomePlanet]:
                    for side in cabin_sides:
                        
                        before_slice = df.iloc[:index]
                        after_slice = df.iloc[index+1:] 
                        top_room_number_before = np.max(before_slice[(before_slice.Deck == deck) & (before_slice.Side == side)].Number)
                        smallest_room_number_after = np.min(after_slice[(after_slice.Deck == deck) & (after_slice.Side == side)].Number)
                        
                        if top_room_number_before + 1 != smallest_room_number_after:
                            if pd.isna(top_room_number_before) and smallest_room_number_after == 0:
                                continue
                            elif top_room_number_before == smallest_room_number_after:
                                continue
                            else:
                                options = True
                                break
                    if options:
                        break
                if not options:
                    if len(df[df.Group == passenger.Group].Cabin) - df[df.Group == passenger.Group].Cabin.isna().sum() > 1:
                        other_group_member = df[(df.Group == passenger.Group) & (~df.Cabin.isna())]
                        options = deck_options(df,passenger)
                        if len(options) == 1:
                            if len(other_group_member[other_group_member.Deck == options[0]].Cabin.unique()) == 1:
                                df.loc[index,'Cabin'] = other_group_member[other_group_member.Deck == options[0]].iloc[0].Cabin
                        else:
                            print('multiple options for deck')
    return df
            
        
df2 = no_free_rooms_no_bills(df2)

In [205]:
df2[df2.Group == 9069]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,Transported,Group,GroupNumber,Deck,Number,Side,FristName,LastName,GroupSize,Bills
12666,9069_01,Europa,True,B/297/P,TRAPPIST-1e,22.0,False,0.0,0.0,0.0,...,True,9069,1,B,297.0,P,Azhat,Brakeng,5,0.0
12667,9069_02,Europa,True,B/297/P,55 Cancri e,26.0,False,0.0,0.0,0.0,...,True,9069,2,B,297.0,P,Hekab,Brakeng,5,0.0
12668,9069_03,Europa,True,NaN,55 Cancri e,25.0,False,0.0,0.0,0.0,...,True,9069,3,NaN,NaN,NaN,Bath,Brakeng,5,0.0
12669,9069_04,Europa,False,B/297/P,TRAPPIST-1e,44.0,False,0.0,4313.0,0.0,...,True,9069,4,B,297.0,P,Cheleon,Brakeng,5,4888.0
12670,9069_05,Europa,False,B/297/P,55 Cancri e,29.0,False,0.0,12563.0,0.0,...,False,9069,5,B,297.0,P,Mirfark,Taketiatim,5,17623.0

In [194]:
df2[(df2.Cabin.isna()) & (df2.Bills == 0) & (df2.GroupSize > 2)]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,Transported,Group,GroupNumber,Deck,Number,Side,FristName,LastName,GroupSize,Bills
1423,1006_03,Earth,False,NaN,TRAPPIST-1e,12.0,False,0.0,0.0,0.0,...,True,1006,3,NaN,NaN,NaN,Stenny,Summington,3,0.0
5857,4181_03,Europa,True,NaN,TRAPPIST-1e,17.0,False,0.0,0.0,0.0,...,True,4181,3,NaN,NaN,NaN,Terope,Frattyring,6,0.0
6709,4782_01,Europa,True,NaN,55 Cancri e,23.0,False,0.0,0.0,0.0,...,True,4782,1,NaN,NaN,NaN,Sabiton,Maxled,5,0.0
7333,5254_03,Europa,True,NaN,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,...,True,5254,3,NaN,NaN,NaN,Sargah,Pressive,4,0.0
8534,6111_03,Europa,True,NaN,55 Cancri e,21.0,False,0.0,0.0,0.0,...,True,6111,3,NaN,NaN,NaN,Ainkard,Folumorly,5,0.0
9267,6612_05,Earth,False,NaN,TRAPPIST-1e,2.0,False,0.0,0.0,0.0,...,NaN,6612,5,NaN,NaN,NaN,Maurie,Dickley,6,0.0
9273,6617_01,Europa,True,NaN,TRAPPIST-1e,31.0,False,0.0,0.0,0.0,...,NaN,6617,1,NaN,NaN,NaN,Mareson,Timpeed,3,0.0
11999,8605_02,Europa,True,NaN,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,...,True,8605,2,NaN,NaN,NaN,Mera,Netshaless,5,0.0
12668,9069_03,Europa,True,NaN,55 Cancri e,25.0,False,0.0,0.0,0.0,...,True,9069,3,NaN,NaN,NaN,Bath,Brakeng,5,0.0

In [212]:
for index,row in df2[df2.Cabin.isna()].iterrows():
    if multiple_decks_in_group(df2,row):
        if row.Bills == 0:
            print(index)

In [188]:
df2[df2.Group == df2.iloc[1401].Group]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,Transported,Group,GroupNumber,Deck,Number,Side,FristName,LastName,GroupSize,Bills
1398,0992_01,Europa,False,D/35/S,TRAPPIST-1e,49.0,False,31.0,2727.0,0.0,...,True,992,1,D,35.0,S,Zino,Kiling,6,3077.0
1399,0992_02,Europa,False,D/35/S,TRAPPIST-1e,29.0,False,387.0,942.0,0.0,...,False,992,2,D,35.0,S,Tareson,Kiling,6,12597.0
1400,0992_03,Europa,False,D/35/S,55 Cancri e,46.0,False,1192.0,1736.0,17.0,...,True,992,3,D,35.0,S,Matan,Herpumble,6,2966.0
1401,0992_04,Europa,False,NaN,55 Cancri e,35.0,True,8030.0,300.0,0.0,...,False,992,4,NaN,NaN,NaN,Naosa,Herpumble,6,9766.0
1402,0992_05,Europa,True,D/35/S,55 Cancri e,17.0,False,0.0,0.0,0.0,...,True,992,5,D,35.0,S,Sinon,Kiling,6,0.0
1403,0992_06,Europa,False,D/35/S,55 Cancri e,37.0,False,4301.0,791.0,0.0,...,False,992,6,D,35.0,S,Weidus,Kiling,6,6931.0

In [184]:
remaining_cabins(df2)

index 404
passenger 0293_01
[['B', 'P', 12.0, 14.0], ['C', 'S', 12.0, 14.0]]

index 421
passenger 0310_01
[['B', 'P', 12.0, 14.0], ['C', 'S', 12.0, 14.0]]

index 479
passenger 0348_02
[['E', 'P', 19.0, 22.0]]

index 505
passenger 0364_02
[['E', 'P', 19.0, 22.0]]

index 517
passenger 0374_02
[['E', 'P', 19.0, 22.0]]

index 1401
passenger 0992_04
[['E', 'P', 57.0, 59.0]]

index 1423
passenger 1006_03
[['E', 'P', 57.0, 59.0]]

index 1429
passenger 1011_01
[['E', 'P', 57.0, 59.0]]

index 1466
passenger 1041_01
[['C', 'S', 39.0, 41.0], ['D', 'S', 35.0, 37.0], ['E', 'P', 57.0, 59.0]]

index 1543
passenger 1095_01
[['C', 'S', 39.0, 41.0], ['D', 'S', 35.0, 37.0]]

index 2442
passenger 1709_03
[]

index 2970
passenger 2092_03
[]

index 3529
passenger 2513_01
[['E', 'P', 149.0, 151.0], ['F', 'P', 518.0, 520.0]]

index 3530
passenger 2514_01
[['E', 'P', 149.0, 151.0], ['F', 'P', 518.0, 520.0]]

index 4233
passenger 3034_01
[['B', 'P', 97.0, 100.0]]

index 4254
passenger 3053_01
[['B', 'P', 97.0, 100.0]]

index 4569
passenger 3287_02
[]

index 4577
passenger 3292_02
[['T', 'P', 4.0, nan]]

index 4751
passenger 3411_02
[]

index 4915
passenger 3521_01
[['T', 'P', 4.0, nan]]

index 5016
passenger 3598_01
[['G', 'P', 589.0, 591.0], ['G', 'S', 578.0, 580.0]]

index 5017
passenger 3599_01
[['G', 'P', 589.0, 591.0], ['G', 'S', 578.0, 580.0]]

index 5857
passenger 4181_03
[['T', 'P', 4.0, nan]]

index 6075
passenger 4336_03
[['T', 'P', 4.0, nan]]

index 6133
passenger 4378_02
[['T', 'P', 4.0, nan]]

index 6472
passenger 4625_03
[['T', 'P', 4.0, nan]]

index 6493
passenger 4637_01
[['E', 'S', 299.0, 302.0]]

index 6514
passenger 4652_01
[['E', 'S', 299.0, 302.0]]

index 6535
passenger 4662_03
[['T', 'P', 4.0, nan]]

index 6578
passenger 4690_02
[['T', 'P', 4.0, nan]]

index 6709
passenger 4782_01
[['T', 'P', 4.0, nan]]

index 6927
passenger 4953_01
[['C', 'S', 192.0, 194.0], ['T', 'P', 4.0, nan]]

index 6952
passenger 4974_02
[['C', 'S', 192.0, 194.0], ['T', 'P', 4.0, nan]]

index 7219
passenger 5164_02
[['T', 'P', 4.0, nan]]

index 7333
passenger 5254_03
[['T', 'P', 4.0, nan]]

index 7638
passenger 5480_01
[['C', 'S', 213.0, 215.0], ['T', 'P', 4.0, nan]]

index 7863
passenger 5642_02
[['C', 'S', 213.0, 215.0], ['T', 'P', 4.0, nan]]

index 8102
passenger 5815_01
[['T', 'P', 4.0, nan]]

index 8413
passenger 6028_04
[['D', 'P', 190.0, 192.0], ['T', 'P', 4.0, nan]]

index 8450
passenger 6048_01
[['D', 'P', 190.0, 192.0], ['E', 'P', 386.0, 388.0]]

index 8465
passenger 6060_01
[['D', 'P', 190.0, 192.0], ['E', 'P', 386.0, 388.0]]

index 8534
passenger 6111_03
[['T', 'P', 4.0, nan]]

index 8594
passenger 6151_01
[['T', 'P', 4.0, nan]]

index 8822
passenger 6312_01
[['T', 'P', 4.0, nan]]

index 8976
passenger 6406_01
[['T', 'P', 4.0, nan]]

index 8994
passenger 6421_02
[['T', 'P', 4.0, nan]]

index 9265
passenger 6612_03
[['F', 'S', 1266.0, 1268.0]]

index 9267
passenger 6612_05
[['F', 'S', 1266.0, 1268.0]]

index 9273
passenger 6617_01
[['T', 'P', 4.0, nan]]

index 9295
passenger 6634_02
[['T', 'P', 4.0, nan]]

index 10081
passenger 7182_01
[['F', 'P', 1488.0, 1490.0], ['G', 'P', 1156.0, 1158.0]]

index 10082
passenger 7183_01
[['F', 'P', 1488.0, 1490.0], ['G', 'P', 1156.0, 1158.0]]

index 10127
passenger 7219_04
[['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 10290
passenger 7353_03
[['C', 'S', 269.0, 271.0], ['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 10313
passenger 7368_01
[['C', 'S', 269.0, 271.0], ['D', 'P', 234.0, 236.0], ['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 10394
passenger 7429_01
[['D', 'P', 234.0, 236.0], ['F', 'S', 1423.0, 1425.0]]

index 10408
passenger 7440_01
[['F', 'S', 1423.0, 1425.0], ['G', 'S', 1205.0, 1207.0]]

index 10411
passenger 7442_02
[['F', 'S', 1423.0, 1425.0], ['G', 'S', 1205.0, 1207.0]]

index 10434
passenger 7463_01
[['F', 'P', 1543.0, 1545.0], ['F', 'S', 1423.0, 1425.0], ['G', 'S', 1211.0, 1213.0]]

index 10440
passenger 7469_01
[['F', 'P', 1543.0, 1545.0], ['G', 'S', 1211.0, 1213.0]]

index 10558
passenger 7556_03
[['D', 'P', 234.0, 236.0], ['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 10855
passenger 7787_02
[['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 11074
passenger 7942_02
[['G', 'P', 1285.0, 1287.0], ['G', 'S', 1281.0, 1283.0]]

index 11082
passenger 7948_01
[['G', 'P', 1285.0, 1287.0], ['G', 'S', 1281.0, 1283.0]]

index 11129
passenger 7983_01
[['C', 'S', 297.0, 299.0], ['E', 'S', 527.0, 529.0], ['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 11148
passenger 7995_01
[['C', 'S', 297.0, 299.0], ['E', 'S', 527.0, 529.0], ['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 11598
passenger 8322_01
[['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 11999
passenger 8605_02
[['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 12174
passenger 8728_07
[]

index 12241
passenger 8772_02
[['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 12651
passenger 9057_01
[['A', 'P', 93.0, 95.0], ['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 12658
passenger 9062_02
[['G', 'P', 1473.0, 1475.0]]

index 12668
passenger 9069_03
[['A', 'P', 93.0, 95.0], ['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 12671
passenger 9070_01
[['G', 'P', 1473.0, 1475.0]]

index 12892
passenger 9223_01
[['F', 'S', 1784.0, 1786.0]]

index 12893
passenger 9223_02
[['F', 'S', 1784.0, 1786.0]]

In [210]:
df2[df2.Group == 1709]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,Transported,Group,GroupNumber,Deck,Number,Side,FristName,LastName,GroupSize,Bills
2440,1709_01,Mars,False,F/326/S,TRAPPIST-1e,23.0,False,31.0,0.0,1247.0,...,False,1709,1,F,326.0,S,Jurbet,Minen,7,1325.0
2441,1709_02,Mars,False,D/61/S,TRAPPIST-1e,23.0,False,2210.0,0.0,89.0,...,True,1709,2,D,61.0,S,Bet,Minen,7,2299.0
2442,1709_03,Mars,False,NaN,TRAPPIST-1e,35.0,False,1313.0,0.0,24.0,...,False,1709,3,NaN,NaN,NaN,Bleark,Minen,7,1338.0
2443,1709_04,Mars,False,E/127/S,TRAPPIST-1e,17.0,False,1744.0,0.0,136.0,...,False,1709,4,E,127.0,S,Donut,Minen,7,1896.0
2444,1709_05,Mars,True,F/326/S,TRAPPIST-1e,26.0,False,0.0,0.0,0.0,...,True,1709,5,F,326.0,S,Fams,Minen,7,0.0
2445,1709_06,Mars,False,D/61/S,TRAPPIST-1e,15.0,False,1554.0,0.0,646.0,...,False,1709,6,D,61.0,S,Tyog,Minen,7,3461.0
2446,1709_07,Mars,False,F/326/S,TRAPPIST-1e,19.0,False,285.0,54.0,1246.0,...,False,1709,7,F,326.0,S,Cocowl,Minen,7,1687.0

In [206]:
fill_by_empty_room(df2)

deck B side P number 13
404    0293_01
421    0310_01
Name: PassengerId, dtype: object



deck B side P number 98
4233    3034_01
4254    3053_01
Name: PassengerId, dtype: object



deck B side P number 99
4233    3034_01
4254    3053_01
Name: PassengerId, dtype: object



deck F side P number 519
3529    2513_01
3530    2514_01
Name: PassengerId, dtype: object



deck F side P number 1489
10081    7182_01
10082    7183_01
Name: PassengerId, dtype: object



deck F side P number 1544
10434    7463_01
10440    7469_01
Name: PassengerId, dtype: object



deck F side S number 1267
9265    6612_03
9267    6612_05
Name: PassengerId, dtype: object



deck F side S number 1424
10394    7429_01
10408    7440_01
10411    7442_02
10434    7463_01
Name: PassengerId, dtype: object



deck F side S number 1785
12892    9223_01
12893    9223_02
Name: PassengerId, dtype: object



deck A side P number 94
12651    9057_01
12668    9069_03
Name: PassengerId, dtype: object



deck G side P number 590
5016    3598_01
5017    3599_01
Name: PassengerId, dtype: object



deck G side P number 1157
10081    7182_01
10082    7183_01
Name: PassengerId, dtype: object



deck G side P number 1286
11074    7942_02
11082    7948_01
Name: PassengerId, dtype: object



deck G side P number 1474
12658    9062_02
12671    9070_01
Name: PassengerId, dtype: object



deck G side S number 579
5016    3598_01
5017    3599_01
Name: PassengerId, dtype: object



deck G side S number 1206
10408    7440_01
10411    7442_02
Name: PassengerId, dtype: object



deck G side S number 1212
10434    7463_01
10440    7469_01
Name: PassengerId, dtype: object



deck G side S number 1282
11074    7942_02
11082    7948_01
Name: PassengerId, dtype: object



deck C side S number 13
404    0293_01
421    0310_01
Name: PassengerId, dtype: object



deck C side S number 40
1466    1041_01
1543    1095_01
Name: PassengerId, dtype: object



deck C side S number 193
6927    4953_01
6952    4974_02
Name: PassengerId, dtype: object



deck C side S number 214
7638    5480_01
7863    5642_02
Name: PassengerId, dtype: object



deck C side S number 270
10290    7353_03
10313    7368_01
Name: PassengerId, dtype: object



deck C side S number 298
11129    7983_01
11148    7995_01
Name: PassengerId, dtype: object



deck E side P number 20
479    0348_02
505    0364_02
517    0374_02
Name: PassengerId, dtype: object



deck E side P number 21
479    0348_02
505    0364_02
517    0374_02
Name: PassengerId, dtype: object



deck E side P number 58
1401    0992_04
1423    1006_03
1429    1011_01
1466    1041_01
Name: PassengerId, dtype: object



deck E side P number 150
3529    2513_01
3530    2514_01
Name: PassengerId, dtype: object



deck E side P number 387
8450    6048_01
8465    6060_01
Name: PassengerId, dtype: object



deck E side S number 300
6493    4637_01
6514    4652_01
Name: PassengerId, dtype: object



deck E side S number 301
6493    4637_01
6514    4652_01
Name: PassengerId, dtype: object



deck E side S number 528
11129    7983_01
11148    7995_01
Name: PassengerId, dtype: object



deck D side P number 191
8413    6028_04
8450    6048_01
8465    6060_01
Name: PassengerId, dtype: object



deck D side P number 235
10313    7368_01
10394    7429_01
10558    7556_03
Name: PassengerId, dtype: object



deck D side S number 36
1466    1041_01
1543    1095_01
Name: PassengerId, dtype: object

In [208]:
df2[(df2.GroupSize == 1) & (df2.Cabin.isna())]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,Transported,Group,GroupNumber,Deck,Number,Side,FristName,LastName,GroupSize,Bills
404,0293_01,Europa,True,NaN,TRAPPIST-1e,47.0,False,0.0,0.0,0.0,...,NaN,293,1,NaN,NaN,NaN,Tauxon,Suptibler,1,0.0
421,0310_01,Europa,False,NaN,TRAPPIST-1e,67.0,False,NaN,230.0,0.0,...,False,310,1,NaN,NaN,NaN,Naviton,Coudered,1,NaN
1466,1041_01,Europa,True,NaN,TRAPPIST-1e,46.0,False,0.0,0.0,0.0,...,True,1041,1,NaN,NaN,NaN,Algrafi,Heedry,1,0.0
1543,1095_01,Europa,True,NaN,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,...,True,1095,1,NaN,NaN,NaN,Alhail,Drelcate,1,0.0
3529,2513_01,Earth,False,NaN,TRAPPIST-1e,28.0,False,0.0,55.0,0.0,...,False,2513,1,NaN,NaN,NaN,Loree,Mathison,1,711.0
3530,2514_01,Earth,False,NaN,TRAPPIST-1e,36.0,False,3.0,755.0,0.0,...,NaN,2514,1,NaN,NaN,NaN,Ianne,Doughan,1,791.0
4233,3034_01,Europa,False,NaN,TRAPPIST-1e,40.0,False,0.0,0.0,0.0,...,False,3034,1,NaN,NaN,NaN,Dscheat,Noxnuther,1,0.0
4254,3053_01,Europa,False,NaN,55 Cancri e,52.0,False,0.0,2.0,0.0,...,False,3053,1,NaN,NaN,NaN,Ainor,Fuelisent,1,11788.0
5016,3598_01,Earth,False,NaN,55 Cancri e,19.0,False,616.0,0.0,46.0,...,False,3598,1,NaN,NaN,NaN,Dony,Olivasquez,1,676.0
5017,3599_01,Earth,False,NaN,TRAPPIST-1e,46.0,False,48.0,856.0,0.0,...,NaN,3599,1,NaN,NaN,NaN,Philda,Newtontoss,1,908.0
6493,4637_01,Mars,False,NaN,TRAPPIST-1e,24.0,False,672.0,0.0,501.0,...,False,4637,1,NaN,NaN,NaN,Tark,Ches,1,NaN
6514,4652_01,Earth,False,NaN,TRAPPIST-1e,27.0,False,0.0,89.0,874.0,...,True,4652,1,NaN,NaN,NaN,Sta,Robins,1,997.0
6927,4953_01,Europa,True,NaN,TRAPPIST-1e,49.0,False,0.0,0.0,0.0,...,NaN,4953,1,NaN,NaN,NaN,Solam,Slable,1,0.0
7638,5480_01,Europa,False,NaN,TRAPPIST-1e,37.0,False,31.0,9307.0,0.0,...,False,5480,1,NaN,NaN,NaN,Avijava,Ellcefulve,1,21455.0
8450,6048_01,Mars,True,NaN,NaN,25.0,False,0.0,0.0,0.0,...,False,6048,1,NaN,NaN,NaN,Mele,Clake,1,0.0
8465,6060_01,Mars,False,NaN,TRAPPIST-1e,37.0,False,1517.0,NaN,2104.0,...,NaN,6060,1,NaN,NaN,NaN,Bleda,Barte,1,NaN
10081,7182_01,Earth,False,NaN,TRAPPIST-1e,46.0,False,438.0,283.0,944.0,...,False,7182,1,NaN,NaN,NaN,Jacki,Ricews,1,2020.0
10082,7183_01,Earth,True,NaN,TRAPPIST-1e,19.0,NaN,0.0,0.0,0.0,...,NaN,7183,1,NaN,NaN,NaN,Janne,Brookes,1,0.0
10313,7368_01,Europa,True,NaN,TRAPPIST-1e,31.0,False,0.0,0.0,0.0,...,NaN,7368,1,NaN,NaN,NaN,Pharmus,Frolestty,1,0.0
10394,7429_01,Mars,False,NaN,TRAPPIST-1e,38.0,False,1126.0,0.0,23.0,...,False,7429,1,NaN,NaN,NaN,Cuses,Pread,1,1183.0
10408,7440_01,Earth,False,NaN,TRAPPIST-1e,36.0,False,698.0,63.0,1.0,...,NaN,7440,1,NaN,NaN,NaN,Ine,Pollarkeeks,1,898.0
10434,7463_01,Earth,False,NaN,TRAPPIST-1e,18.0,False,0.0,0.0,0.0,...,NaN,7463,1,NaN,NaN,NaN,Terrie,Mickersones,1,677.0
10440,7469_01,Earth,False,NaN,TRAPPIST-1e,24.0,False,433.0,110.0,209.0,...,NaN,7469,1,NaN,NaN,NaN,Cliney,Baxterson,1,775.0
11082,7948_01,Earth,False,NaN,TRAPPIST-1e,28.0,False,2.0,0.0,0.0,...,NaN,7948,1,NaN,NaN,NaN,Elinda,Flynner,1,756.0
11129,7983_01,Europa,True,NaN,TRAPPIST-1e,53.0,False,0.0,0.0,0.0,...,True,7983,1,NaN,NaN,NaN,Alderak,Wassird,1,0.0
11148,7995_01,Europa,True,NaN,TRAPPIST-1e,36.0,False,0.0,0.0,0.0,...,True,7995,1,NaN,NaN,NaN,Grum,Stiviorad,1,0.0