In [1]:
import pandas as pd
import numpy as np

traindf = pd.read_csv('data/train.csv')
testdf = pd.read_csv('data/test.csv')
traindf['Set'] = 'Train'
testdf['Set'] = 'Test'
togeth = pd.concat([testdf,traindf])

In [2]:
homeplanets = ['Earth', 'Europa', 'Mars']

In [235]:
decks_by_planet = {
    'Earth':['E','F','G'],
    'Europa': ['A','B','C','D','E','T'],
    'Mars': ['D','E','F']
}

planet_by_deck = {
    'A':['Europa'],'B':['Europa'],'C':['Europa'],'D':['Europa','Mars'],'E':['Europa','Mars','Earth'],
    'F':['Earth','Mars'],'G':['Earth'],'T':['Europa']
}

cabin_sides = ['P','S']

## datasplits

In [4]:
def splits(data_frame):
    split_df = data_frame['PassengerId'].str.split('_', expand=True)
    data_frame[['Group', 'GroupNumber']] = split_df

    split_df =  data_frame['Cabin'].str.split("/", expand = True)
    data_frame[['Deck', 'Number', 'Side']]= split_df
    data_frame.Number = data_frame.Number.astype('float')
    
    split_df = data_frame['Name'].str.split(" ",expand = True)
    data_frame[['FristName','LastName']] = split_df


    return data_frame

togeth = splits(togeth)
togeth = togeth.sort_values(by = ['Group','GroupNumber'])
togeth = togeth.reset_index()
togeth = togeth[['PassengerId','HomePlanet','Cabin','Destination','Group','GroupNumber','Deck','Number','Side','Set','LastName']]

In [5]:
def group_size(df):
    def group_size_apply(row):
        group = df[df.Group == row.Group]
        return len(group)
    df['GroupSize'] = df.apply(group_size_apply, axis = 1)
    return df
togeth = group_size(togeth)

In [6]:
togeth.head()

,PassengerId,HomePlanet,Cabin,Destination,Group,GroupNumber,Deck,Number,Side,Set,LastName,GroupSize
0,0001_01,Europa,B/0/P,TRAPPIST-1e,0001,01,B,0.0,P,Train,Ofracculy,1
1,0002_01,Earth,F/0/S,TRAPPIST-1e,0002,01,F,0.0,S,Train,Vines,1
2,0003_01,Europa,A/0/S,TRAPPIST-1e,0003,01,A,0.0,S,Train,Susent,2
3,0003_02,Europa,A/0/S,TRAPPIST-1e,0003,02,A,0.0,S,Train,Susent,2
4,0004_01,Earth,F/1/S,TRAPPIST-1e,0004,01,F,1.0,S,Train,Santantines,1

In [7]:
def impute_attribute_based_on_shared_feature(df, attribute, feature):
    # Function to fill NaNs in a group based on the first available non-NaN value
    def fill_with_first_available(group_df):
        if not group_df[attribute].dropna().empty:
            first_available = group_df[attribute].dropna().iloc[0]
            group_df[attribute] = group_df[attribute].fillna(first_available)
        return group_df

    # Filter out rows where the feature is NaN, then apply the fill function to each group
    filtered_df = df.dropna(subset=[feature])
    imputed_df = filtered_df.groupby(feature, group_keys=False).apply(fill_with_first_available)
    
    # Merge back with original df rows where the feature is NaN to retain those rows unchanged
    df_with_nan_feature = df[df[feature].isna()]
    final_df = pd.concat([imputed_df, df_with_nan_feature], ignore_index=True)

    return final_df

## Certain imputes

In [8]:
togeth = impute_attribute_based_on_shared_feature(togeth,'HomePlanet','Group')

/var/folders/nk/n25bjxk97j7213hk3kmrl6bm0000gp/T/ipykernel_71064/2494772570.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  imputed_df = filtered_df.groupby(feature, group_keys=False).apply(fill_with_first_available)

# by last name

In [9]:
togeth = impute_attribute_based_on_shared_feature(togeth,'HomePlanet','LastName')

/var/folders/nk/n25bjxk97j7213hk3kmrl6bm0000gp/T/ipykernel_71064/2494772570.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  imputed_df = filtered_df.groupby(feature, group_keys=False).apply(fill_with_first_available)

In [10]:
togeth = togeth.sort_values(by = ['Group','GroupNumber'])
togeth = togeth.reset_index(drop = True)

In [11]:
def home_planet_from_deck_abc(df):
    df.loc[df['Deck'].isin(['A', 'B', 'C']), 'HomePlanet'] = df.loc[df['Deck'].isin(['A', 'B', 'C']), 'HomePlanet'].fillna('Europa')
    return df
def home_planet_from_deck_g(df):
    df.loc[df['Deck']== 'G', 'HomePlanet'] = df.loc[df['Deck'] == 'G', 'HomePlanet'].fillna('Earth')
    return df

## do i need these for my imputing?

In [12]:
togeth = home_planet_from_deck_abc(togeth)
togeth = home_planet_from_deck_g(togeth)

In [13]:
togeth[togeth.HomePlanet.isna()]

,PassengerId,HomePlanet,Cabin,Destination,Group,GroupNumber,Deck,Number,Side,Set,LastName,GroupSize
870,0616_01,NaN,E/40/S,TRAPPIST-1e,0616,01,E,40.0,S,Test,Spriney,1
3439,2443_01,NaN,D/72/P,TRAPPIST-1e,2443,01,D,72.0,P,Train,NaN,1
3946,2817_01,NaN,F/584/P,TRAPPIST-1e,2817,01,F,584.0,P,Train,Sutty,1
4632,3331_01,NaN,F/631/S,TRAPPIST-1e,3331,01,F,631.0,S,Train,NaN,1
5687,4052_01,NaN,D/136/P,TRAPPIST-1e,4052,01,D,136.0,P,Test,Coneveseng,1
6786,4840_01,NaN,F/915/S,TRAPPIST-1e,4840,01,F,915.0,S,Train,NaN,1
8528,6108_01,NaN,F/1166/S,TRAPPIST-1e,6108,01,F,1166.0,S,Train,NaN,1
9916,7065_01,NaN,E/471/S,TRAPPIST-1e,7065,01,E,471.0,S,Test,Maltorted,1
11757,8435_01,NaN,F/1730/P,TRAPPIST-1e,8435,01,F,1730.0,P,Test,NaN,1
12244,8775_01,NaN,D/275/P,TRAPPIST-1e,8775,01,D,275.0,P,Test,Maltorted,1

In [14]:
togeth.isna().sum()

PassengerId      0
HomePlanet      10
Cabin          299
Destination    274
Group            0
GroupNumber      0
Deck           299
Number         299
Side           299
Set              0
LastName       294
GroupSize        0
dtype: int64

# Filling missed Cabins

In [15]:
used_cabins = {}
for deck in list(togeth.dropna().Deck.unique()):
    cab = {}
    for side in list(togeth.dropna().Side.unique()):
        rooms = list(togeth[(togeth.Deck == deck) & (togeth.Side == side)].dropna().Number.unique())
        rooms.sort()
        cab[side] = rooms
    used_cabins[deck] = cab

#### fill people that must be sharing a room with people in the same group
ie, from their chome planet we know the decks they could be in, if the side and number below and above are one above and one below then they must be sharing with someone from their group. make sure that their group has only one cabin

need to make sure is only one person  with cabin being na in the group otherwise one na might be in another cabin

for row in dataframe

if cabin.isna() and homeplanet is known,
 for potential decks in homeplanets remit ie europa check a, b , c in dataframe up to that point and over that point, see if any have a free space and if not then fill it with the one in the same group

In [149]:
def checks(df):
    for home in homeplanets:
        print("\n" + home)
        print(df[df.HomePlanet == home].Deck.value_counts())
    return df

In [263]:
df = togeth.copy()

In [264]:
df2 = togeth.copy()

Finding groups that have more than 1 member that all share the same cabin and that dont have other nans in group

In [293]:
df2.isna().sum()

PassengerId      0
HomePlanet      10
Cabin           89
Destination    274
Group            0
GroupNumber      0
Deck           145
Number         145
Side           145
Set              0
LastName       294
GroupSize        0
dtype: int64

# one room available and its alone in its group ( should be first in cabin fill)

In [290]:
for index, passenger in df2[df2.Cabin.isna()].iterrows():
    print("\nindex", index)
    print("passenger",passenger)
    options = []
    for deck in decks_by_planet[passenger.HomePlanet]:
        for side in cabin_sides:
            
            before_slice = df2.iloc[:index]
            after_slice = df2.iloc[index+1:] 
            top_room_number_before = np.max(before_slice[(before_slice.Deck == deck) & (before_slice.Side == side)].Number)
            smallest_room_number_after = np.min(after_slice[(after_slice.Deck == deck) & (after_slice.Side == side)].Number)
            
            if top_room_number_before + 1 != smallest_room_number_after:
                if pd.isna(top_room_number_before) and smallest_room_number_after == 0:
                    continue
                elif top_room_number_before == smallest_room_number_after:
                    continue
                else:
                    print('deck',deck,'side',side)
                    print(top_room_number_before,smallest_room_number_after)
                    options.append([deck,side,top_room_number_before,smallest_room_number_after])
    
    if len(options) == 1:
        option = options[0]
        print("groupsize",len(df2[df2.Group == passenger.Group]))
        if option[2] + 2 == option[3] and len(df2[df2.Group == passenger.Group]) == 1:
            print("only option")
            print("options",options)
            print("index",index)
            df2.loc[index,'Side'] = option[1]
            df2.loc[index,'Deck'] = option[0]
            df2.loc[index,'Number'] = int(option[2] + 1)
            df2.loc[index,'Cabin'] = str(option[0]) + "/" + str(option[1]) + "/" + str(int(option[2] + 1))

index 404
passenger PassengerId        0293_01
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 0293
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName         Suptibler
GroupSize                1
Name: 404, dtype: object
deck B side P
12.0 14.0
deck C side S
12.0 14.0

index 421
passenger PassengerId        0310_01
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 0310
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName          Coudered
GroupSize                1
Name: 421, dtype: object
deck B side P
12.0 14.0
deck C side S
12.0 14.0

index 479
passenger PassengerId        0348_02
HomePlanet            Mars
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 0348
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName              Mane
GroupSize                2
Name: 479, dtype: object
deck E side P
19.0 22.0
groupsize 2

index 505
passenger PassengerId        0364_02
HomePlanet            Mars
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 0364
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName             Chit√©
GroupSize                2
Name: 505, dtype: object
deck E side P
19.0 22.0
groupsize 2

index 517
passenger PassengerId        0374_02
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 0374
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName         Sterreray
GroupSize                2
Name: 517, dtype: object
deck E side P
19.0 22.0
groupsize 2

index 1401
passenger PassengerId        0992_04
HomePlanet          Europa
Cabin                  NaN
Destination    55 Cancri e
Group                 0992
GroupNumber             04
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName         Herpumble
GroupSize                6
Name: 1401, dtype: object
deck E side P
57.0 59.0
groupsize 6

index 1423
passenger PassengerId        1006_03
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 1006
GroupNumber             03
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName        Summington
GroupSize                3
Name: 1423, dtype: object
deck E side P
57.0 59.0
groupsize 3

index 1429
passenger PassengerId        1011_01
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 1011
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName           Prinson
GroupSize                2
Name: 1429, dtype: object
deck E side P
57.0 59.0
groupsize 2

index 1466
passenger PassengerId        1041_01
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 1041
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName            Heedry
GroupSize                1
Name: 1466, dtype: object
deck C side S
39.0 41.0
deck D side S
35.0 37.0
deck E side P
57.0 59.0

index 1543
passenger PassengerId        1095_01
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 1095
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName          Drelcate
GroupSize                1
Name: 1543, dtype: object
deck C side S
39.0 41.0
deck D side S
35.0 37.0

index 2414
passenger PassengerId        1688_02
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 1688
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName        Webstenson
GroupSize                3
Name: 2414, dtype: object

index 2442
passenger PassengerId        1709_03
HomePlanet            Mars
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 1709
GroupNumber             03
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName             Minen
GroupSize                7
Name: 2442, dtype: object

index 2970
passenger PassengerId        2092_03
HomePlanet            Mars
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 2092
GroupNumber             03
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName             Stpie
GroupSize                5
Name: 2970, dtype: object

index 3416
passenger PassengerId        2425_05
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 2425
GroupNumber             05
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName        Tranklinay
GroupSize                6
Name: 3416, dtype: object

index 3529
passenger PassengerId        2513_01
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 2513
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName          Mathison
GroupSize                1
Name: 3529, dtype: object
deck E side P
149.0 151.0
deck F side P
518.0 520.0

index 3530
passenger PassengerId        2514_01
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 2514
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName           Doughan
GroupSize                1
Name: 3530, dtype: object
deck E side P
149.0 151.0
deck F side P
518.0 520.0

index 4233
passenger PassengerId        3034_01
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 3034
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName         Noxnuther
GroupSize                1
Name: 4233, dtype: object
deck B side P
97.0 100.0
groupsize 1

index 4254
passenger PassengerId        3053_01
HomePlanet          Europa
Cabin                  NaN
Destination    55 Cancri e
Group                 3053
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName         Fuelisent
GroupSize                1
Name: 4254, dtype: object
deck B side P
97.0 100.0
groupsize 1

index 4569
passenger PassengerId        3287_02
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 3287
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName        Carlsonney
GroupSize                3
Name: 4569, dtype: object

index 4577
passenger PassengerId        3292_02
HomePlanet          Europa
Cabin                  NaN
Destination    55 Cancri e
Group                 3292
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName           Dianket
GroupSize                5
Name: 4577, dtype: object
deck T side P
4.0 nan
groupsize 5

index 4751
passenger PassengerId        3411_02
HomePlanet            Mars
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 3411
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName             Harta
GroupSize                7
Name: 4751, dtype: object

index 4915
passenger PassengerId        3521_01
HomePlanet          Europa
Cabin                  NaN
Destination    55 Cancri e
Group                 3521
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName        Radisiouss
GroupSize                2
Name: 4915, dtype: object
deck T side P
4.0 nan
groupsize 2

index 5016
passenger PassengerId        3598_01
HomePlanet           Earth
Cabin                  NaN
Destination    55 Cancri e
Group                 3598
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName        Olivasquez
GroupSize                1
Name: 5016, dtype: object
deck G side P
589.0 591.0
deck G side S
578.0 580.0

index 5017
passenger PassengerId        3599_01
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 3599
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName        Newtontoss
GroupSize                1
Name: 5017, dtype: object
deck G side P
589.0 591.0
deck G side S
578.0 580.0

index 5193
passenger PassengerId        3712_01
HomePlanet           Earth
Cabin                  NaN
Destination    55 Cancri e
Group                 3712
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName            Blacks
GroupSize                5
Name: 5193, dtype: object

index 5614
passenger PassengerId        4005_04
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 4005
GroupNumber             04
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName          Spentley
GroupSize                8
Name: 5614, dtype: object

index 5857
passenger PassengerId        4181_03
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 4181
GroupNumber             03
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName        Frattyring
GroupSize                6
Name: 5857, dtype: object
deck T side P
4.0 nan
groupsize 6

index 6075
passenger PassengerId        4336_03
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 4336
GroupNumber             03
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName          Gloother
GroupSize                4
Name: 6075, dtype: object
deck T side P
4.0 nan
groupsize 4

index 6133
passenger PassengerId        4378_02
HomePlanet          Europa
Cabin                  NaN
Destination    55 Cancri e
Group                 4378
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName            Glogry
GroupSize                2
Name: 6133, dtype: object
deck T side P
4.0 nan
groupsize 2

index 6472
passenger PassengerId        4625_03
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 4625
GroupNumber             03
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName          Ineedeve
GroupSize                7
Name: 6472, dtype: object
deck T side P
4.0 nan
groupsize 7

index 6493
passenger PassengerId        4637_01
HomePlanet            Mars
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 4637
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName              Ches
GroupSize                1
Name: 6493, dtype: object
deck E side S
299.0 302.0
groupsize 1

index 6514
passenger PassengerId        4652_01
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 4652
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName            Robins
GroupSize                1
Name: 6514, dtype: object
deck E side S
299.0 302.0
groupsize 1

index 6535
passenger PassengerId        4662_03
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 4662
GroupNumber             03
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName           Ingwhed
GroupSize                3
Name: 6535, dtype: object
deck T side P
4.0 nan
groupsize 3

index 6578
passenger PassengerId        4690_02
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 4690
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName        Dishocatal
GroupSize                2
Name: 6578, dtype: object
deck T side P
4.0 nan
groupsize 2

index 6709
passenger PassengerId        4782_01
HomePlanet          Europa
Cabin                  NaN
Destination    55 Cancri e
Group                 4782
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName            Maxled
GroupSize                5
Name: 6709, dtype: object
deck T side P
4.0 nan
groupsize 5

index 6927
passenger PassengerId        4953_01
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 4953
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName            Slable
GroupSize                1
Name: 6927, dtype: object
deck C side S
192.0 194.0
deck T side P
4.0 nan

index 6952
passenger PassengerId        4974_02
HomePlanet          Europa
Cabin                  NaN
Destination    55 Cancri e
Group                 4974
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName           Vendeck
GroupSize                2
Name: 6952, dtype: object
deck C side S
192.0 194.0
deck T side P
4.0 nan

index 7126
passenger PassengerId          5098_02
HomePlanet             Earth
Cabin                    NaN
Destination    PSO J318.5-22
Group                   5098
GroupNumber               02
Deck                     NaN
Number                   NaN
Side                     NaN
Set                     Test
LastName            Kellyons
GroupSize                  3
Name: 7126, dtype: object

index 7219
passenger PassengerId        5164_02
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 5164
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName         Reeddommy
GroupSize                2
Name: 7219, dtype: object
deck T side P
4.0 nan
groupsize 2

index 7333
passenger PassengerId        5254_03
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 5254
GroupNumber             03
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName          Pressive
GroupSize                4
Name: 7333, dtype: object
deck T side P
4.0 nan
groupsize 4

index 7638
passenger PassengerId        5480_01
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 5480
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName        Ellcefulve
GroupSize                1
Name: 7638, dtype: object
deck C side S
213.0 215.0
deck T side P
4.0 nan

index 7810
passenger PassengerId        5601_03
HomePlanet           Earth
Cabin                  NaN
Destination    55 Cancri e
Group                 5601
GroupNumber             03
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName            Vandan
GroupSize                5
Name: 7810, dtype: object

index 7863
passenger PassengerId        5642_02
HomePlanet          Europa
Cabin                  NaN
Destination    55 Cancri e
Group                 5642
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName            Supred
GroupSize                2
Name: 7863, dtype: object
deck C side S
213.0 215.0
deck T side P
4.0 nan

index 8102
passenger PassengerId        5815_01
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 5815
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName        Roftfuling
GroupSize                4
Name: 8102, dtype: object
deck T side P
4.0 nan
groupsize 4

index 8413
passenger PassengerId        6028_04
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 6028
GroupNumber             04
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName           Preeldy
GroupSize                5
Name: 8413, dtype: object
deck D side P
190.0 192.0
deck T side P
4.0 nan

index 8450
passenger PassengerId    6048_01
HomePlanet        Mars
Cabin              NaN
Destination        NaN
Group             6048
GroupNumber         01
Deck               NaN
Number             NaN
Side               NaN
Set              Train
LastName         Clake
GroupSize            1
Name: 8450, dtype: object
deck D side P
190.0 192.0
deck E side P
386.0 388.0

index 8465
passenger PassengerId        6060_01
HomePlanet            Mars
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 6060
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName             Barte
GroupSize                1
Name: 8465, dtype: object
deck D side P
190.0 192.0
deck E side P
386.0 388.0

index 8534
passenger PassengerId        6111_03
HomePlanet          Europa
Cabin                  NaN
Destination    55 Cancri e
Group                 6111
GroupNumber             03
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName         Folumorly
GroupSize                5
Name: 8534, dtype: object
deck T side P
4.0 nan
groupsize 5

index 8594
passenger PassengerId        6151_01
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 6151
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName        Hometerval
GroupSize                2
Name: 8594, dtype: object
deck T side P
4.0 nan
groupsize 2

index 8804
passenger PassengerId          6302_04
HomePlanet             Earth
Cabin                    NaN
Destination    PSO J318.5-22
Group                   6302
GroupNumber               04

# there arent any free rooms for it so has to share

In [292]:

for index, passenger in df2[df2.Cabin.isna()].iterrows():
    print("\nindex", index)
    print("passenger",passenger)
    options = False
    for deck in decks_by_planet[passenger.HomePlanet]:
        for side in cabin_sides:
            
            before_slice = df2.iloc[:index]
            after_slice = df2.iloc[index+1:] 
            top_room_number_before = np.max(before_slice[(before_slice.Deck == deck) & (before_slice.Side == side)].Number)
            smallest_room_number_after = np.min(after_slice[(after_slice.Deck == deck) & (after_slice.Side == side)].Number)
            
            if top_room_number_before + 1 != smallest_room_number_after:
                if pd.isna(top_room_number_before) and smallest_room_number_after == 0:
                    continue
                elif top_room_number_before == smallest_room_number_after:
                    continue
                else:
                    print('deck',deck)
                    print('side',side)
                    print(top_room_number_before,smallest_room_number_after)
                    options = True
                    break
        if options:
            break
    if not options:
        print("no options")
        other_group_member = df2[(df2.Group == passenger.Group) & (~df2.Cabin.isna())]
        print("other_group_members",other_group_member)
        if len(other_group_member.Cabin.unique()) == 1:
            df2.loc[index,'Cabin'] = other_group_member.iloc[0].Cabin

            print("Cabin updated to", other_group_member.iloc[0].Cabin)

  
            # Slice the DataFrame first and then apply the boolean mask

index 404
passenger PassengerId        0293_01
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 0293
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName         Suptibler
GroupSize                1
Name: 404, dtype: object
deck B
side P
12.0 14.0

index 421
passenger PassengerId        0310_01
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 0310
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName          Coudered
GroupSize                1
Name: 421, dtype: object
deck B
side P
12.0 14.0

index 479
passenger PassengerId        0348_02
HomePlanet            Mars
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 0348
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName              Mane
GroupSize                2
Name: 479, dtype: object
deck E
side P
19.0 22.0

index 505
passenger PassengerId        0364_02
HomePlanet            Mars
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 0364
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName             Chit√©
GroupSize                2
Name: 505, dtype: object
deck E
side P
19.0 22.0

index 517
passenger PassengerId        0374_02
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 0374
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName         Sterreray
GroupSize                2
Name: 517, dtype: object
deck E
side P
19.0 22.0

index 1401
passenger PassengerId        0992_04
HomePlanet          Europa
Cabin                  NaN
Destination    55 Cancri e
Group                 0992
GroupNumber             04
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName         Herpumble
GroupSize                6
Name: 1401, dtype: object
deck E
side P
57.0 59.0

index 1423
passenger PassengerId        1006_03
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 1006
GroupNumber             03
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName        Summington
GroupSize                3
Name: 1423, dtype: object
deck E
side P
57.0 59.0

index 1429
passenger PassengerId        1011_01
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 1011
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName           Prinson
GroupSize                2
Name: 1429, dtype: object
deck E
side P
57.0 59.0

index 1466
passenger PassengerId        1041_01
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 1041
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName            Heedry
GroupSize                1
Name: 1466, dtype: object
deck C
side S
39.0 41.0

index 1543
passenger PassengerId        1095_01
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 1095
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName          Drelcate
GroupSize                1
Name: 1543, dtype: object
deck C
side S
39.0 41.0

index 2414
passenger PassengerId        1688_02
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 1688
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName        Webstenson
GroupSize                3
Name: 2414, dtype: object
no options
other_group_members      PassengerId HomePlanet    Cabin  Destination Group GroupNumber Deck  \
2413     1688_01      Earth  E/124/S  TRAPPIST-1e  1688          01    E
2415     1688_03      Earth  G/262/S  TRAPPIST-1e  1688          03    G

      Number Side    Set    LastName  GroupSize
2413   124.0    S  Train  Webstenson          3
2415   262.0    S  Train  Webstenson          3

index 2442
passenger PassengerId        1709_03
HomePlanet            Mars
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 1709
GroupNumber             03
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName             Minen
GroupSize                7
Name: 2442, dtype: object
no options
other_group_members      PassengerId HomePlanet    Cabin  Destination Group GroupNumber Deck  \
2440     1709_01       Mars  F/326/S  TRAPPIST-1e  1709          01    F
2441     1709_02       Mars   D/61/S  TRAPPIST-1e  1709          02    D
2443     1709_04       Mars  E/127/S  TRAPPIST-1e  1709          04    E
2444     1709_05       Mars  F/326/S  TRAPPIST-1e  1709          05    F
2445     1709_06       Mars   D/61/S  TRAPPIST-1e  1709          06    D
2446     1709_07       Mars  F/326/S  TRAPPIST-1e  1709          07    F

      Number Side    Set LastName  GroupSize
2440   326.0    S  Train    Minen          7
2441    61.0    S  Train    Minen          7
2443   127.0    S  Train    Minen          7
2444   326.0    S  Train    Minen          7
2445    61.0    S  Train    Minen          7
2446   326.0    S  Train    Minen          7

index 2970
passenger PassengerId        2092_03
HomePlanet            Mars
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 2092
GroupNumber             03
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName             Stpie
GroupSize                5
Name: 2970, dtype: object
no options
other_group_members      PassengerId HomePlanet    Cabin  Destination Group GroupNumber Deck  \
2968     2092_01       Mars   D/70/S  TRAPPIST-1e  2092          01    D
2969     2092_02       Mars  E/153/S  TRAPPIST-1e  2092          02    E
2971     2092_04       Mars  F/410/S  TRAPPIST-1e  2092          04    F
2972     2092_05       Mars   D/70/S  TRAPPIST-1e  2092          05    D

      Number Side    Set LastName  GroupSize
2968    70.0    S  Train     Blan          5
2969   153.0    S  Train    Stpie          5
2971   410.0    S  Train      NaN          5
2972    70.0    S  Train    Stpie          5

index 3416
passenger PassengerId        2425_05
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 2425
GroupNumber             05
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName        Tranklinay
GroupSize                6
Name: 3416, dtype: object
no options
other_group_members      PassengerId HomePlanet    Cabin    Destination Group GroupNumber Deck  \
3412     2425_01      Earth  G/396/P    TRAPPIST-1e  2425          01    G
3413     2425_02      Earth  G/396/P  PSO J318.5-22  2425          02    G
3414     2425_03      Earth  F/495/P    TRAPPIST-1e  2425          03    F
3415     2425_04      Earth  G/396/P    55 Cancri e  2425          04    G
3417     2425_06      Earth  G/396/P    TRAPPIST-1e  2425          06    G

      Number Side   Set    LastName  GroupSize
3412   396.0    P  Test  Tranklinay          6
3413   396.0    P  Test  Tranklinay          6
3414   495.0    P  Test  Tranklinay          6
3415   396.0    P  Test  Tranklinay          6
3417   396.0    P  Test  Tranklinay          6

index 3529
passenger PassengerId        2513_01
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 2513
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName          Mathison
GroupSize                1
Name: 3529, dtype: object
deck E
side P
149.0 151.0

index 3530
passenger PassengerId        2514_01
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 2514
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName           Doughan
GroupSize                1
Name: 3530, dtype: object
deck E
side P
149.0 151.0

index 4233
passenger PassengerId        3034_01
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 3034
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName         Noxnuther
GroupSize                1
Name: 4233, dtype: object
deck B
side P
97.0 100.0

index 4254
passenger PassengerId        3053_01
HomePlanet          Europa
Cabin                  NaN
Destination    55 Cancri e
Group                 3053
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName         Fuelisent
GroupSize                1
Name: 4254, dtype: object
deck B
side P
97.0 100.0

index 4569
passenger PassengerId        3287_02
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 3287
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName        Carlsonney
GroupSize                3
Name: 4569, dtype: object
no options
other_group_members      PassengerId HomePlanet    Cabin    Destination Group GroupNumber Deck  \
4568     3287_01      Earth  G/522/S  PSO J318.5-22  3287          01    G
4570     3287_03      Earth  F/621/S    55 Cancri e  3287          03    F

      Number Side    Set    LastName  GroupSize
4568   522.0    S  Train  Carlsonney          3
4570   621.0    S  Train  Carlsonney          3

index 4577
passenger PassengerId        3292_02
HomePlanet          Europa
Cabin                  NaN
Destination    55 Cancri e
Group                 3292
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName           Dianket
GroupSize                5
Name: 4577, dtype: object
deck T
side P
4.0 nan

index 4751
passenger PassengerId        3411_02
HomePlanet            Mars
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 3411
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName             Harta
GroupSize                7
Name: 4751, dtype: object
no options
other_group_members      PassengerId HomePlanet    Cabin  Destination Group GroupNumber Deck  \
4750     3411_01       Mars  E/232/S  TRAPPIST-1e  3411          01    E
4752     3411_03       Mars  F/645/S  TRAPPIST-1e  3411          03    F
4753     3411_04       Mars  F/645/S  TRAPPIST-1e  3411          04    F
4754     3411_05       Mars  F/645/S  TRAPPIST-1e  3411          05    F
4755     3411_06       Mars  F/645/S  TRAPPIST-1e  3411          06    F
4756     3411_07       Mars  F/645/S  TRAPPIST-1e  3411          07    F

      Number Side   Set LastName  GroupSize
4750   232.0    S  Test    Homin          7
4752   645.0    S  Test    Homin          7
4753   645.0    S  Test      St√©          7
4754   645.0    S  Test    Homin          7
4755   645.0    S  Test    Harta          7
4756   645.0    S  Test    Harta          7

index 4915
passenger PassengerId        3521_01
HomePlanet          Europa
Cabin                  NaN
Destination    55 Cancri e
Group                 3521
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName        Radisiouss
GroupSize                2
Name: 4915, dtype: object
deck T
side P
4.0 nan

index 5016
passenger PassengerId        3598_01
HomePlanet           Earth
Cabin                  NaN
Destination    55 Cancri e
Group                 3598
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName        Olivasquez
GroupSize                1
Name: 5016, dtype: object
deck G
side P
589.0 591.0

index 5017
passenger PassengerId        3599_01
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 3599
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName        Newtontoss
GroupSize                1
Name: 5017, dtype: object
deck G
side P
589.0 591.0

index 5193
passenger PassengerId        3712_01
HomePlanet           Earth
Cabin                  NaN
Destination    55 Cancri e
Group                 3712
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName            Blacks
GroupSize                5
Name: 5193, dtype: object
no options
other_group_members      PassengerId HomePlanet    Cabin    Destination Group GroupNumber Deck  \
5194     3712_02      Earth  G/606/S    55 Cancri e  3712          02    G
5195     3712_03      Earth  G/606/S    TRAPPIST-1e  3712          03    G
5196     3712_04      Earth  F/701/S    TRAPPIST-1e  3712          04    F
5197     3712_05      Earth  G/606/S  PSO J318.5-22  3712          05    G

      Number Side   Set LastName  GroupSize
5194   606.0    S  Test   Blacks          5
5195   606.0    S  Test   Blacks          5
5196   701.0    S  Test   Blacks          5
5197   606.0    S  Test   Blacks          5

index 5614
passenger PassengerId        4005_04
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 4005
GroupNumber             04
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName          Spentley
GroupSize                8
Name: 5614, dtype: object
no options
other_group_members      PassengerId HomePlanet    Cabin    Destination Group GroupNumber Deck  \
5611     4005_01      Earth  G/657/P    TRAPPIST-1e  4005          01    G
5612     4005_02      Earth  G/657/P    TRAPPIST-1e  4005          02    G
5613     4005_03      Earth  G/657/P    TRAPPIST-1e  4005          03    G
5615     4005_05      Earth  G/657/P  PSO J318.5-22  4005          05    G
5616     4005_06      Earth  F/829/P  PSO J318.5-22  4005          06    F
5617     4005_07      Earth  G/657/P    TRAPPIST-1e  4005          07    G
5618     4005_08      Earth  G/657/P    TRAPPIST-1e  4005          08    G

      Number Side    Set     LastName  GroupSize
5611   657.0    P  Train  Castannison          8
5612   657.0    P  Train  Castannison          8
5613   657.0    P  Train  Castannison          8
5615   657.0    P  Train        River          8
5616   829.0    P  Train        River          8
5617   657.0    P  Train  Castannison          8
5618   657.0    P  Train          NaN          8

index 5857
passenger PassengerId        4181_03
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 4181
GroupNumber             03
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName        Frattyring
GroupSize                6
Name: 5857, dtype: object
deck T
side P
4.0 nan

index 6075
passenger PassengerId        4336_03
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 4336
GroupNumber             03
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName          Gloother
GroupSize                4
Name: 6075, dtype: object
deck T
side P
4.0 nan

index 6133
passenger PassengerId        4378_02
HomePlanet          Europa
Cabin                  NaN
Destination    55 Cancri e
Group                 4378
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName            Glogry
GroupSize                2
Name: 6133, dtype: object
deck T
side P
4.0 nan

index 6472
passenger PassengerId        4625_03
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 4625
GroupNumber             03
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName          Ineedeve
GroupSize                7
Name: 6472, dtype: object
deck T
side P
4.0 nan

index 6493
passenger PassengerId        4637_01
HomePlanet            Mars
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 4637
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName              Ches
GroupSize                1
Name: 6493, dtype: object
deck E
side S
299.0 302.0

index 6514
passenger PassengerId        4652_01
HomePlanet           Earth
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 4652
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName            Robins
GroupSize                1
Name: 6514, dtype: object
deck E
side S
299.0 302.0

index 6535
passenger PassengerId        4662_03
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 4662
GroupNumber             03
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName           Ingwhed
GroupSize                3
Name: 6535, dtype: object
deck T
side P
4.0 nan

index 6578
passenger PassengerId        4690_02
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 4690
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName        Dishocatal
GroupSize                2
Name: 6578, dtype: object
deck T
side P
4.0 nan

index 6709
passenger PassengerId        4782_01
HomePlanet          Europa
Cabin                  NaN
Destination    55 Cancri e
Group                 4782
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName            Maxled
GroupSize                5
Name: 6709, dtype: object
deck T
side P
4.0 nan

index 6927
passenger PassengerId        4953_01
HomePlanet          Europa
Cabin                  NaN
Destination    TRAPPIST-1e
Group                 4953
GroupNumber             01
Deck                   NaN
Number                 NaN
Side                   NaN
Set                   Test
LastName            Slable
GroupSize                1
Name: 6927, dtype: object
deck C
side S
192.0 194.0

index 6952
passenger PassengerId        4974_02
HomePlanet          Europa
Cabin                  NaN
Destination    55 Cancri e
Group                 4974
GroupNumber             02
Deck                   NaN
Number                 NaN
Side                   NaN
Set                  Train
LastName           Vendeck
GroupSize                2
Name: 6952, dtype: object
deck C

In [268]:
df2[df2.Cabin.isna()]

,PassengerId,HomePlanet,Cabin,Destination,Group,GroupNumber,Deck,Number,Side,Set,LastName,GroupSize
315,0227_01,Earth,NaN,TRAPPIST-1e,0227,01,NaN,NaN,NaN,Test,Buckentry,1
404,0293_01,Europa,NaN,TRAPPIST-1e,0293,01,NaN,NaN,NaN,Test,Suptibler,1
421,0310_01,Europa,NaN,TRAPPIST-1e,0310,01,NaN,NaN,NaN,Train,Coudered,1
440,0323_01,Earth,NaN,55 Cancri e,0323,01,NaN,NaN,NaN,Test,Gaineyerson,1
479,0348_02,Mars,NaN,TRAPPIST-1e,0348,02,NaN,NaN,NaN,Train,Mane,2
...,...,...,...,...,...,...,...,...,...,...,...,...
12768,9138_01,Europa,NaN,TRAPPIST-1e,9138,01,NaN,NaN,NaN,Test,Trupistic,1
12892,9223_01,Mars,NaN,TRAPPIST-1e,9223,01,NaN,NaN,NaN,Test,Sun,2
12893,9223_02,Mars,NaN,TRAPPIST-1e,9223,02,NaN,NaN,NaN,Test,Sun,2
12918,9238_05,Earth,NaN,TRAPPIST-1e,9238,05,NaN,NaN,NaN,Test,Emenez,7
12954,9269_01,Earth,NaN,TRAPPIST-1e,9269,01,NaN,NaN,NaN,Test,Scheron,1

Cases
* there arent any free rooms for it so has to share
* its the only person that could fill that room

In [271]:
df2.isna().sum()

PassengerId      0
HomePlanet      10
Cabin          139
Destination    274
Group            0
GroupNumber      0
Deck           195
Number         195
Side           195
Set              0
LastName       294
GroupSize        0
dtype: int64

# free room where only one person can take it

In [294]:
def rooms_to_fill(df):
    rooms = {}
    for deck in df.dropna(subset = ['Deck']).Deck.unique():
        for side in df.dropna(subset = ['Side']).Side.unique():
            rooms_seen = list(df[(df.Deck == deck) & (df.Side == side)].dropna(subset = ['Number']).Number.unique())
            largest_room_number = int(max(list(df[(df.Deck == deck) & (df.Side == side)].dropna(subset = ['Number']).Number.unique())))
            for i in range(largest_room_number):
                if i not in rooms_seen:
                    if deck not in rooms:
                        rooms[deck] = {'P':[],'S':[]}
                    rooms[deck][side].append(i)
    return rooms

rooms = rooms_to_fill(df2)

In [295]:
def fill_by_empty_room(df):
    for deck in rooms.keys():
        for side in ['P','S']:
            for number in rooms[deck][side]:
                indices_matching = []
                print()
                print('deck',deck,'side',side,'number',number)
                temp = df[(df.Cabin.isna()) & (pd.isna(df.HomePlanet) | df.HomePlanet.isin(planet_by_deck[deck]))]
                for index,row in temp.iterrows():
                    before_slice = df.iloc[:index]
                    after_slice = df.iloc[index+1:] 
                    if max(list(before_slice[(before_slice.Deck == deck) & (before_slice.Side == side)].Number.unique())) < number:
                        if min(list(after_slice[(after_slice.Deck == deck) & (after_slice.Side == side)].Number.unique())) > number:
                            indices_matching.append(index)
                if len(indices_matching) == 1:
                    df.loc[indices_matching[0],'Cabin'] = deck + "/" + str(number) + "/" + side
                    df.loc[indices_matching[0],'Side'] = side
                    df.loc[indices_matching[0],'Deck'] = deck
                    df.loc[indices_matching[0],'Number'] = number            
fill_by_empty_room(df2)

deck B side P number 13

deck B side P number 98

deck B side P number 99

deck F side P number 519

deck F side P number 1489

deck F side P number 1544

deck F side S number 1267

deck F side S number 1424

deck F side S number 1785

deck A side P number 94

deck G side P number 590

deck G side P number 1157

deck G side P number 1286

deck G side P number 1474

deck G side S number 579

deck G side S number 1206

deck G side S number 1212

deck G side S number 1282

deck C side S number 13

deck C side S number 40

deck C side S number 193

deck C side S number 214

deck C side S number 270

deck C side S number 298

deck E side P number 20

deck E side P number 21

deck E side P number 58

deck E side P number 150

deck E side P number 387

deck E side S number 300

deck E side S number 301

deck E side S number 528

deck D side P number 191

deck D side P number 235

deck D side S number 36

In [296]:
df2[df2.Cabin.isna()]

,PassengerId,HomePlanet,Cabin,Destination,Group,GroupNumber,Deck,Number,Side,Set,LastName,GroupSize
404,0293_01,Europa,NaN,TRAPPIST-1e,0293,01,NaN,NaN,NaN,Test,Suptibler,1
421,0310_01,Europa,NaN,TRAPPIST-1e,0310,01,NaN,NaN,NaN,Train,Coudered,1
479,0348_02,Mars,NaN,TRAPPIST-1e,0348,02,NaN,NaN,NaN,Train,Mane,2
505,0364_02,Mars,NaN,TRAPPIST-1e,0364,02,NaN,NaN,NaN,Test,Chit√©,2
517,0374_02,Earth,NaN,TRAPPIST-1e,0374,02,NaN,NaN,NaN,Test,Sterreray,2
...,...,...,...,...,...,...,...,...,...,...,...,...
12671,9070_01,Earth,NaN,TRAPPIST-1e,9070,01,NaN,NaN,NaN,Test,Flynney,2
12694,9081_03,Earth,NaN,TRAPPIST-1e,9081,03,NaN,NaN,NaN,Train,Clemondsey,8
12892,9223_01,Mars,NaN,TRAPPIST-1e,9223,01,NaN,NaN,NaN,Test,Sun,2
12893,9223_02,Mars,NaN,TRAPPIST-1e,9223,02,NaN,NaN,NaN,Test,Sun,2
12918,9238_05,Earth,NaN,TRAPPIST-1e,9238,05,NaN,NaN,NaN,Test,Emenez,7

In [297]:
rooms

{'B': {'P': [13, 98, 99], 'S': []},
 'F': {'P': [519, 1489, 1544], 'S': [1267, 1424, 1785]},
 'A': {'P': [94], 'S': []},
 'G': {'P': [590, 1157, 1286, 1474], 'S': [579, 1206, 1212, 1282]},
 'C': {'P': [], 'S': [13, 40, 193, 214, 270, 298]},
 'E': {'P': [20, 21, 58, 150, 387], 'S': [300, 301, 528]},
 'D': {'P': [191, 235], 'S': [36]}}

# remaining cabins

# which cabin for empty people

In [304]:
def remaining_cabins(df):
    for index, passenger in df[df.Cabin.isna()].iterrows():
        print("\nindex", index)
        print("passenger",passenger.PassengerId)
        options = []
        for deck in decks_by_planet[passenger.HomePlanet]:
            for side in cabin_sides:
                
                before_slice = df.iloc[:index]
                after_slice = df.iloc[index+1:] 
                top_room_number_before = np.max(before_slice[(before_slice.Deck == deck) & (before_slice.Side == side)].Number)
                smallest_room_number_after = np.min(after_slice[(after_slice.Deck == deck) & (after_slice.Side == side)].Number)
                
                if top_room_number_before + 1 != smallest_room_number_after:
                    if pd.isna(top_room_number_before) and smallest_room_number_after == 0:
                        continue
                    elif top_room_number_before == smallest_room_number_after:
                        continue
                    else:
                        options.append([deck,side,top_room_number_before,smallest_room_number_after])
        print(options)
remaining_cabins(df2)

index 404
passenger 0293_01
[['B', 'P', 12.0, 14.0], ['C', 'S', 12.0, 14.0]]

index 421
passenger 0310_01
[['B', 'P', 12.0, 14.0], ['C', 'S', 12.0, 14.0]]

index 479
passenger 0348_02
[['E', 'P', 19.0, 22.0]]

index 505
passenger 0364_02
[['E', 'P', 19.0, 22.0]]

index 517
passenger 0374_02
[['E', 'P', 19.0, 22.0]]

index 1401
passenger 0992_04
[['E', 'P', 57.0, 59.0]]

index 1423
passenger 1006_03
[['E', 'P', 57.0, 59.0]]

index 1429
passenger 1011_01
[['E', 'P', 57.0, 59.0]]

index 1466
passenger 1041_01
[['C', 'S', 39.0, 41.0], ['D', 'S', 35.0, 37.0], ['E', 'P', 57.0, 59.0]]

index 1543
passenger 1095_01
[['C', 'S', 39.0, 41.0], ['D', 'S', 35.0, 37.0]]

index 2414
passenger 1688_02
[]

index 2442
passenger 1709_03
[]

index 2970
passenger 2092_03
[]

index 3416
passenger 2425_05
[]

index 3529
passenger 2513_01
[['E', 'P', 149.0, 151.0], ['F', 'P', 518.0, 520.0]]

index 3530
passenger 2514_01
[['E', 'P', 149.0, 151.0], ['F', 'P', 518.0, 520.0]]

index 4233
passenger 3034_01
[['B', 'P', 97.0, 100.0]]

index 4254
passenger 3053_01
[['B', 'P', 97.0, 100.0]]

index 4569
passenger 3287_02
[]

index 4577
passenger 3292_02
[['T', 'P', 4.0, nan]]

index 4751
passenger 3411_02
[]

index 4915
passenger 3521_01
[['T', 'P', 4.0, nan]]

index 5016
passenger 3598_01
[['G', 'P', 589.0, 591.0], ['G', 'S', 578.0, 580.0]]

index 5017
passenger 3599_01
[['G', 'P', 589.0, 591.0], ['G', 'S', 578.0, 580.0]]

index 5193
passenger 3712_01
[]

index 5614
passenger 4005_04
[]

index 5857
passenger 4181_03
[['T', 'P', 4.0, nan]]

index 6075
passenger 4336_03
[['T', 'P', 4.0, nan]]

index 6133
passenger 4378_02
[['T', 'P', 4.0, nan]]

index 6472
passenger 4625_03
[['T', 'P', 4.0, nan]]

index 6493
passenger 4637_01
[['E', 'S', 299.0, 302.0]]

index 6514
passenger 4652_01
[['E', 'S', 299.0, 302.0]]

index 6535
passenger 4662_03
[['T', 'P', 4.0, nan]]

index 6578
passenger 4690_02
[['T', 'P', 4.0, nan]]

index 6709
passenger 4782_01
[['T', 'P', 4.0, nan]]

index 6927
passenger 4953_01
[['C', 'S', 192.0, 194.0], ['T', 'P', 4.0, nan]]

index 6952
passenger 4974_02
[['C', 'S', 192.0, 194.0], ['T', 'P', 4.0, nan]]

index 7126
passenger 5098_02
[]

index 7219
passenger 5164_02
[['T', 'P', 4.0, nan]]

index 7333
passenger 5254_03
[['T', 'P', 4.0, nan]]

index 7638
passenger 5480_01
[['C', 'S', 213.0, 215.0], ['T', 'P', 4.0, nan]]

index 7810
passenger 5601_03
[]

index 7863
passenger 5642_02
[['C', 'S', 213.0, 215.0], ['T', 'P', 4.0, nan]]

index 8102
passenger 5815_01
[['T', 'P', 4.0, nan]]

index 8413
passenger 6028_04
[['D', 'P', 190.0, 192.0], ['T', 'P', 4.0, nan]]

index 8450
passenger 6048_01
[['D', 'P', 190.0, 192.0], ['E', 'P', 386.0, 388.0]]

index 8465
passenger 6060_01
[['D', 'P', 190.0, 192.0], ['E', 'P', 386.0, 388.0]]

index 8534
passenger 6111_03
[['T', 'P', 4.0, nan]]

index 8594
passenger 6151_01
[['T', 'P', 4.0, nan]]

index 8804
passenger 6302_04
[]

index 8822
passenger 6312_01
[['T', 'P', 4.0, nan]]

index 8906
passenger 6363_01
[]

index 8973
passenger 6405_02
[]

index 8976
passenger 6406_01
[['T', 'P', 4.0, nan]]

index 8994
passenger 6421_02
[['T', 'P', 4.0, nan]]

index 9265
passenger 6612_03
[['F', 'S', 1266.0, 1268.0]]

index 9267
passenger 6612_05
[['F', 'S', 1266.0, 1268.0]]

index 9273
passenger 6617_01
[['T', 'P', 4.0, nan]]

index 9295
passenger 6634_02
[['T', 'P', 4.0, nan]]

index 10081
passenger 7182_01
[['F', 'P', 1488.0, 1490.0], ['G', 'P', 1156.0, 1158.0]]

index 10082
passenger 7183_01
[['F', 'P', 1488.0, 1490.0], ['G', 'P', 1156.0, 1158.0]]

index 10127
passenger 7219_04
[['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 10290
passenger 7353_03
[['C', 'S', 269.0, 271.0], ['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 10313
passenger 7368_01
[['C', 'S', 269.0, 271.0], ['D', 'P', 234.0, 236.0], ['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 10394
passenger 7429_01
[['D', 'P', 234.0, 236.0], ['F', 'S', 1423.0, 1425.0]]

index 10408
passenger 7440_01
[['F', 'S', 1423.0, 1425.0], ['G', 'S', 1205.0, 1207.0]]

index 10411
passenger 7442_02
[['F', 'S', 1423.0, 1425.0], ['G', 'S', 1205.0, 1207.0]]

index 10434
passenger 7463_01
[['F', 'P', 1543.0, 1545.0], ['F', 'S', 1423.0, 1425.0], ['G', 'S', 1211.0, 1213.0]]

index 10440
passenger 7469_01
[['F', 'P', 1543.0, 1545.0], ['G', 'S', 1211.0, 1213.0]]

index 10558
passenger 7556_03
[['D', 'P', 234.0, 236.0], ['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 10855
passenger 7787_02
[['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 10995
passenger 7890_03
[]

index 11074
passenger 7942_02
[['G', 'P', 1285.0, 1287.0], ['G', 'S', 1281.0, 1283.0]]

index 11082
passenger 7948_01
[['G', 'P', 1285.0, 1287.0], ['G', 'S', 1281.0, 1283.0]]

index 11129
passenger 7983_01
[['C', 'S', 297.0, 299.0], ['E', 'S', 527.0, 529.0], ['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 11148
passenger 7995_01
[['C', 'S', 297.0, 299.0], ['E', 'S', 527.0, 529.0], ['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 11334
passenger 8129_01
[]

index 11598
passenger 8322_01
[['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 11999
passenger 8605_02
[['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 12174
passenger 8728_07
[]

index 12241
passenger 8772_02
[['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 12651
passenger 9057_01
[['A', 'P', 93.0, 95.0], ['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 12658
passenger 9062_02
[['G', 'P', 1473.0, 1475.0]]

index 12668
passenger 9069_03
[['A', 'P', 93.0, 95.0], ['T', 'P', 4.0, nan], ['T', 'S', 3.0, nan]]

index 12671
passenger 9070_01
[['G', 'P', 1473.0, 1475.0]]

index 12694
passenger 9081_03
[]

index 12892
passenger 9223_01
[['F', 'S', 1784.0, 1786.0]]

index 12893
passenger 9223_02
[['F', 'S', 1784.0, 1786.0]]

index 12918
passenger 9238_05
[]

In [ ]:
for deck in cabin

# which people for empty cabin

In [302]:
def fill_by_empty_room(df):
    for deck in rooms.keys():
        for side in ['P','S']:
            for number in rooms[deck][side]:
                indices_matching = []
                print()
                print('deck',deck,'side',side,'number',number)
                temp = df[(df.Cabin.isna()) & (pd.isna(df.HomePlanet) | df.HomePlanet.isin(planet_by_deck[deck]))]
                for index,row in temp.iterrows():
                    before_slice = df.iloc[:index]
                    after_slice = df.iloc[index+1:] 
                    if max(list(before_slice[(before_slice.Deck == deck) & (before_slice.Side == side)].Number.unique())) < number:
                        if min(list(after_slice[(after_slice.Deck == deck) & (after_slice.Side == side)].Number.unique())) > number:
                            indices_matching.append(index)
                print(df.iloc[indices_matching].PassengerId)
                print()
                print()
fill_by_empty_room(df2)

deck B side P number 13
404    0293_01
421    0310_01
Name: PassengerId, dtype: object



deck B side P number 98
4233    3034_01
4254    3053_01
Name: PassengerId, dtype: object



deck B side P number 99
4233    3034_01
4254    3053_01
Name: PassengerId, dtype: object



deck F side P number 519
3529    2513_01
3530    2514_01
Name: PassengerId, dtype: object



deck F side P number 1489
10081    7182_01
10082    7183_01
Name: PassengerId, dtype: object



deck F side P number 1544
10434    7463_01
10440    7469_01
Name: PassengerId, dtype: object



deck F side S number 1267
9265    6612_03
9267    6612_05
Name: PassengerId, dtype: object



deck F side S number 1424
10394    7429_01
10408    7440_01
10411    7442_02
10434    7463_01
Name: PassengerId, dtype: object



deck F side S number 1785
12892    9223_01
12893    9223_02
Name: PassengerId, dtype: object



deck A side P number 94
12651    9057_01
12668    9069_03
Name: PassengerId, dtype: object



deck G side P number 590
5016    3598_01
5017    3599_01
Name: PassengerId, dtype: object



deck G side P number 1157
10081    7182_01
10082    7183_01
Name: PassengerId, dtype: object



deck G side P number 1286
11074    7942_02
11082    7948_01
Name: PassengerId, dtype: object



deck G side P number 1474
12658    9062_02
12671    9070_01
Name: PassengerId, dtype: object



deck G side S number 579
5016    3598_01
5017    3599_01
Name: PassengerId, dtype: object



deck G side S number 1206
10408    7440_01
10411    7442_02
Name: PassengerId, dtype: object



deck G side S number 1212
10434    7463_01
10440    7469_01
Name: PassengerId, dtype: object



deck G side S number 1282
11074    7942_02
11082    7948_01
Name: PassengerId, dtype: object



deck C side S number 13
404    0293_01
421    0310_01
Name: PassengerId, dtype: object



deck C side S number 40
1466    1041_01
1543    1095_01
Name: PassengerId, dtype: object



deck C side S number 193
6927    4953_01
6952    4974_02
Name: PassengerId, dtype: object



deck C side S number 214
7638    5480_01
7863    5642_02
Name: PassengerId, dtype: object



deck C side S number 270
10290    7353_03
10313    7368_01
Name: PassengerId, dtype: object



deck C side S number 298
11129    7983_01
11148    7995_01
Name: PassengerId, dtype: object



deck E side P number 20
479    0348_02
505    0364_02
517    0374_02
Name: PassengerId, dtype: object



deck E side P number 21
479    0348_02
505    0364_02
517    0374_02
Name: PassengerId, dtype: object



deck E side P number 58
1401    0992_04
1423    1006_03
1429    1011_01
1466    1041_01
Name: PassengerId, dtype: object



deck E side P number 150
3529    2513_01
3530    2514_01
Name: PassengerId, dtype: object



deck E side P number 387
8450    6048_01
8465    6060_01
Name: PassengerId, dtype: object



deck E side S number 300
6493    4637_01
6514    4652_01
Name: PassengerId, dtype: object



deck E side S number 301
6493    4637_01
6514    4652_01
Name: PassengerId, dtype: object



deck E side S number 528
11129    7983_01
11148    7995_01
Name: PassengerId, dtype: object



deck D side P number 191
8413    6028_04
8450    6048_01
8465    6060_01
Name: PassengerId, dtype: object



deck D side P number 235
10313    7368_01
10394    7429_01
10558    7556_03
Name: PassengerId, dtype: object



deck D side S number 36
1466    1041_01
1543    1095_01
Name: PassengerId, dtype: object

In [306]:
for deck in df.Deck.unique():
    for side in df.Side.unique():
        max_size = 0
        for cabin in df[(df.Deck == deck) & (df.Side == side)].Cabin:
            max_size = max(len(df[df.Cabin == cabin]),max_size)
        print('deck',deck,'side',side,'max_size',max_size)

deck B side P max_size 7
deck B side S max_size 7
deck B side nan max_size 0
deck F side P max_size 7
deck F side S max_size 5
deck F side nan max_size 0
deck A side P max_size 6
deck A side S max_size 6
deck A side nan max_size 0
deck G side P max_size 8
deck G side S max_size 8
deck G side nan max_size 0
deck nan side P max_size 0
deck nan side S max_size 0
deck nan side nan max_size 0
deck C side P max_size 7
deck C side S max_size 7
deck C side nan max_size 0
deck E side P max_size 6
deck E side S max_size 7
deck E side nan max_size 0
deck D side P max_size 6
deck D side S max_size 7
deck D side nan max_size 0
deck T side P max_size 1
deck T side S max_size 3
deck T side nan max_size 0

## what can be deduced with these cabins now filled ?